In [2]:
import pandas as pd
import numpy as np

In [2]:
Data1 =pd.read_csv(r"C:\Users\telak\Downloads\StateWise_Data.csv")

In [3]:
Data2 =pd.read_csv(r"C:\Users\telak\Downloads\DistrictWise_Data.csv")

In [3]:
Data3 =pd.read_csv(r"C:\Users\telak\Downloads\TimeSeries_Data.csv")

In [5]:
Data1

,State,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,397000,7651,129,7518,598033,294001,200157
1,AP,52221000,2066450,14373,2047722,29518787,32976969,20375181
2,AR,1504000,55155,280,54774,1185436,771875,534486
3,AS,34293000,610645,5997,600974,24712042,20172463,8068795
4,BR,119520000,726098,9661,716390,50531824,49874828,18346781
5,CH,1179000,65351,820,64495,792851,926035,546981
6,CT,28724000,1006052,13577,992159,13709510,14851682,7343273
7,DL,19814000,1439870,25091,1414431,29427753,13055636,7425404
8,DN,959000,10681,4,10644,72410,660753,370255
9,GA,1540000,178108,3364,174392,1468399,1262568,911114
10,GJ,67936000,826577,10089,816283,30928063,44735217,25972387
11,HP,7300000,224106,3738,218410,3685011,5713695,3443823
12,HR,28672000,771252,10049,761068,13032504,17772376,8115463
13,JH,37403000,348764,5138,343518,15985878,14986646,5585648
14,JK,13203000,332249,4432,326915,16202346,9511073,5149471
15,KA,65798000,2988333,38082,2941578,50873103,42497761,22858384
16,KL,35125000,4968657,31681,4857181,37886378,25306499,13658343
17,LA,293000,20962,208,20687,555568,208798,152280
18,LD,68000,10365,51,10270,263541,55129,45951
19,MH,122153000,6611078,140216,6450585,62667211,67198794,30975692
20,ML,3224000,83627,1450,81746,1151665,1103275,641819
21,MN,3103000,123731,1921,121102,1367673,1249436,719413
22,MP,82232000,792854,10524,782215,20294225,49911938,20838045
23,MZ,1192000,121359,432,114612,1298444,711597,512029
24,NL,2150000,31842,685,29904,395416,709553,490663
25,OR,43671000,1041457,8386,1029147,21994343,25736641,11560912
26,PB,29859000,602401,16559,585591,15429415,15942714,6238973
27,PY,1504000,128013,1857,125726,1919060,733922,404355
28,RJ,77264000,954429,8954,945443,14807752,42544909,20097635
29,SK,664000,31979,396,31063,261343,521763,451509
30,TG,37220000,671463,3956,663498,27569831,22498559,9772398
31,TN,75695000,2702623,36116,2655015,51159242,41279432,17619141
32,TR,3992000,84468,813,83466,1983127,2508477,1621329
33,UP,224979000,1710158,22900,1687151,83635222,98178865,32681895
34,UT,11141000,343896,7400,330195,7781148,7478017,3898342
35,WB,96906000,1592908,19141,1565471,19228303,56192166,21559747

In [6]:
Data3

,State,Date,Confirmed,Deceased,Recovered,Vaccinated1,Vaccinated2
0,AN,26-03-2020,1,0,0,0,0
1,AN,27-03-2020,6,0,0,0,0
2,AN,28-03-2020,9,0,0,0,0
3,AN,29-03-2020,9,0,0,0,0
4,AN,30-03-2020,10,0,0,0,0
...,...,...,...,...,...,...,...
20998,WB,27-10-2021,1589042,19096,1561973,53992006,20590859
20999,WB,28-10-2021,1590032,19105,1562818,54524323,20878857
21000,WB,29-10-2021,1591014,19113,1563678,55226050,21196433
21001,WB,30-10-2021,1591994,19126,1564558,55982557,21500866
21002,WB,31-10-2021,1592908,19141,1565471,56192166,21559747

In [7]:
Data2

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,Nicobars,36842,0,0,0,0,25394,20313
1,AN,North and Middle Andaman,105597,0,0,0,0,78945,59522
2,AN,South Andaman,238142,0,0,0,0,189662,120322
3,AN,Unknown,238142,7651,129,7518,0,0,0
4,AP,Anantapur,4083315,157843,1093,156699,787085,2690082,1611476
...,...,...,...,...,...,...,...,...,...
742,WB,Purba Bardhaman,4835532,42005,198,41588,0,2596246,859528
743,WB,Purba Medinipur,4417377,63098,397,62549,0,3560589,1471674
744,WB,Purulia,2927965,19419,113,19283,0,1679941,492310
745,WB,South 24 Parganas,8153176,100957,1336,98950,0,4850898,1832073
746,WB,Uttar Dinajpur,3000849,19858,238,19559,0,1341457,436182

In [8]:
Data2['State'].unique()

array(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ',
       'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN',
       'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR',
       'UP', 'UT', 'WB'], dtype=object)

In [9]:
Data2[Data2['State']=='AN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,Nicobars,36842,0,0,0,0,25394,20313
1,AN,North and Middle Andaman,105597,0,0,0,0,78945,59522
2,AN,South Andaman,238142,0,0,0,0,189662,120322
3,AN,Unknown,238142,7651,129,7518,0,0,0

In [10]:
Data2.drop([3], axis=0, inplace=True)

In [11]:
Data2[Data2['State']=='AN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,Nicobars,36842,0,0,0,0,25394,20313
1,AN,North and Middle Andaman,105597,0,0,0,0,78945,59522
2,AN,South Andaman,238142,0,0,0,0,189662,120322

-----

In [12]:
Data2[Data2['State']=='AP']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
4,AP,Anantapur,4083315,157843,1093,156699,787085,2690082,1611476
5,AP,Chittoor,4170468,246935,1947,244144,780322,2832987,1807873
6,AP,East Godavari,5151549,293836,1290,291610,944746,3532220,1990578
7,AP,Foreign Evacuees,5151549,434,0,434,0,0,0
8,AP,Guntur,4889230,178068,1237,176629,833823,3440118,1891773
9,AP,Krishna,4529009,119348,1430,117130,782232,2971604,1914927
10,AP,Kurnool,4046601,124142,853,123264,867361,2672759,1290419
11,AP,Other State,4046601,2461,0,2461,0,0,0
12,AP,Prakasam,3392764,138482,1124,136989,697340,2321031,1521177
13,AP,S.P.S. Nellore,2966082,146388,1053,144919,682964,2143402,1403240
14,AP,Srikakulam,2699471,123109,786,122136,670899,1630248,974734
15,AP,Visakhapatnam,4288113,157737,1127,156492,744983,2999432,1864960
16,AP,Vizianagaram,2342868,82967,672,82231,531433,1393491,996097
17,AP,West Godavari,3934782,179077,1117,177680,793098,2525317,1778807
18,AP,Y.S.R. Kadapa,2884524,115623,644,114904,671761,1824032,1328711

In [13]:
Data2.drop([7,11], axis=0, inplace=True)

In [14]:
Data2[Data2['State']=='AP']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
4,AP,Anantapur,4083315,157843,1093,156699,787085,2690082,1611476
5,AP,Chittoor,4170468,246935,1947,244144,780322,2832987,1807873
6,AP,East Godavari,5151549,293836,1290,291610,944746,3532220,1990578
8,AP,Guntur,4889230,178068,1237,176629,833823,3440118,1891773
9,AP,Krishna,4529009,119348,1430,117130,782232,2971604,1914927
10,AP,Kurnool,4046601,124142,853,123264,867361,2672759,1290419
12,AP,Prakasam,3392764,138482,1124,136989,697340,2321031,1521177
13,AP,S.P.S. Nellore,2966082,146388,1053,144919,682964,2143402,1403240
14,AP,Srikakulam,2699471,123109,786,122136,670899,1630248,974734
15,AP,Visakhapatnam,4288113,157737,1127,156492,744983,2999432,1864960
16,AP,Vizianagaram,2342868,82967,672,82231,531433,1393491,996097
17,AP,West Godavari,3934782,179077,1117,177680,793098,2525317,1778807
18,AP,Y.S.R. Kadapa,2884524,115623,644,114904,671761,1824032,1328711

-----

In [15]:
Data2[Data2['State']=='AR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
19,AR,Anjaw,21089,1068,3,1065,2845,11695,7957
20,AR,Capital Complex,21089,0,0,0,115210,0,0
21,AR,Changlang,147951,3807,22,3780,23861,88857,55361
22,AR,East Kameng,78413,1094,0,1094,7489,22931,15646
23,AR,East Siang,99019,3206,17,3183,21867,54001,39434
24,AR,Kamle,22256,512,0,512,1385,6946,3874
25,AR,Kra Daadi,22256,270,0,270,3218,6275,3272
26,AR,Kurung Kumey,89717,511,1,510,4201,9121,5601
27,AR,Lepa Rada,89717,874,3,871,6747,13328,10176
28,AR,Lohit,145538,2885,26,2851,14945,31120,22003
29,AR,Longding,60000,752,2,749,10342,19259,7826
30,AR,Lower Dibang Valley,53986,2426,11,2397,12169,32639,22089
31,AR,Lower Siang,80597,738,8,730,7070,16565,9990
32,AR,Lower Subansiri,82839,3036,15,3015,10564,26916,18827
33,AR,Namsai,95950,2124,17,2102,19987,63539,47104
34,AR,Pakke Kessang,95950,453,0,453,3327,8004,4998
35,AR,Papum Pare,176385,18316,98,18212,41960,141168,100258
36,AR,Shi Yomi,13310,262,0,261,2169,6910,5663
37,AR,Siang,31920,411,3,408,4270,14408,9068
38,AR,Tawang,49950,2577,20,2533,14224,29553,23287
39,AR,Tirap,111997,1109,5,1102,14657,31565,21200
40,AR,Upper Dibang Valley,7948,337,2,335,1910,4156,2603
41,AR,Upper Siang,35289,1016,1,1015,6564,18594,13671
42,AR,Upper Subansiri,83205,1958,6,1952,6217,24842,16390
43,AR,West Kameng,87013,3545,14,3518,28155,55710,40321
44,AR,West Siang,112272,1868,6,1856,13192,33773,27867

-----

In [16]:
Data2[Data2['State']=='AS']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
45,AS,Baksa,953773,0,0,0,0,553967,136574
46,AS,Barpeta,1693190,0,0,0,0,1095048,448006
47,AS,Biswanath,612491,0,0,0,0,456088,213437
48,AS,Bongaigaon,732639,0,0,0,0,493242,183782
49,AS,Cachar,1736319,0,0,0,0,1101266,402535
50,AS,Charaideo,1736319,0,0,0,0,309125,111219
51,AS,Chirang,481818,0,0,0,0,288696,102397
52,AS,Darrang,908090,0,0,0,0,596783,183724
53,AS,Dhemaji,688077,0,0,0,0,431792,184251
54,AS,Dhubri,1948632,0,0,0,0,945264,229696
55,AS,Dibrugarh,1327748,0,0,0,301657,914640,430800
56,AS,Dima Hasao,213529,0,0,0,0,116318,62593
57,AS,Goalpara,1008959,0,0,0,0,662016,195521
58,AS,Golaghat,1058674,0,0,0,0,711564,306745
59,AS,Hailakandi,659260,0,0,0,0,422295,146888
60,AS,Hojai,931218,0,0,0,0,602504,274035
61,AS,Jorhat,1091295,0,0,0,0,649267,297724
62,AS,Kamrup,1517202,0,0,0,0,1079092,409628
63,AS,Kamrup Metropolitan,1260419,0,0,0,0,1246239,875897
64,AS,Karbi Anglong,965280,0,0,0,0,284600,102798
65,AS,Karimganj,1217002,0,0,0,0,681216,203575
66,AS,Kokrajhar,886999,0,0,0,0,538901,156488
67,AS,Lakhimpur,1040644,0,0,0,0,681386,301369
68,AS,Majuli,167304,0,0,0,0,117599,82507
69,AS,Morigaon,957853,0,0,0,0,592446,212146
70,AS,Nagaon,2826006,0,0,0,0,1203831,448081
71,AS,Nalbari,769919,0,0,0,0,483076,168392
72,AS,Sivasagar,1150253,0,0,0,0,478954,223921
73,AS,Sonitpur,1925975,0,0,0,0,767841,434213
74,AS,South Salmara Mankachar,555114,0,0,0,0,239906,76599
75,AS,Tinsukia,1316948,0,0,0,0,795057,286170
76,AS,Udalguri,832769,0,0,0,24661,504439,133919
77,AS,Unknown,832769,610645,5997,600974,0,0,0
78,AS,West Karbi Anglong,300320,0,0,0,0,127612,42942

In [17]:
Data2.drop([77], axis=0, inplace=True)

In [18]:
Data2[Data2['State']=='AS']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
45,AS,Baksa,953773,0,0,0,0,553967,136574
46,AS,Barpeta,1693190,0,0,0,0,1095048,448006
47,AS,Biswanath,612491,0,0,0,0,456088,213437
48,AS,Bongaigaon,732639,0,0,0,0,493242,183782
49,AS,Cachar,1736319,0,0,0,0,1101266,402535
50,AS,Charaideo,1736319,0,0,0,0,309125,111219
51,AS,Chirang,481818,0,0,0,0,288696,102397
52,AS,Darrang,908090,0,0,0,0,596783,183724
53,AS,Dhemaji,688077,0,0,0,0,431792,184251
54,AS,Dhubri,1948632,0,0,0,0,945264,229696
55,AS,Dibrugarh,1327748,0,0,0,301657,914640,430800
56,AS,Dima Hasao,213529,0,0,0,0,116318,62593
57,AS,Goalpara,1008959,0,0,0,0,662016,195521
58,AS,Golaghat,1058674,0,0,0,0,711564,306745
59,AS,Hailakandi,659260,0,0,0,0,422295,146888
60,AS,Hojai,931218,0,0,0,0,602504,274035
61,AS,Jorhat,1091295,0,0,0,0,649267,297724
62,AS,Kamrup,1517202,0,0,0,0,1079092,409628
63,AS,Kamrup Metropolitan,1260419,0,0,0,0,1246239,875897
64,AS,Karbi Anglong,965280,0,0,0,0,284600,102798
65,AS,Karimganj,1217002,0,0,0,0,681216,203575
66,AS,Kokrajhar,886999,0,0,0,0,538901,156488
67,AS,Lakhimpur,1040644,0,0,0,0,681386,301369
68,AS,Majuli,167304,0,0,0,0,117599,82507
69,AS,Morigaon,957853,0,0,0,0,592446,212146
70,AS,Nagaon,2826006,0,0,0,0,1203831,448081
71,AS,Nalbari,769919,0,0,0,0,483076,168392
72,AS,Sivasagar,1150253,0,0,0,0,478954,223921
73,AS,Sonitpur,1925975,0,0,0,0,767841,434213
74,AS,South Salmara Mankachar,555114,0,0,0,0,239906,76599
75,AS,Tinsukia,1316948,0,0,0,0,795057,286170
76,AS,Udalguri,832769,0,0,0,24661,504439,133919
78,AS,West Karbi Anglong,300320,0,0,0,0,127612,42942

-----

In [19]:
Data2[Data2['State']=='BR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
79,BR,Araria,2806200,14978,116,14859,219221,1177154,395227
80,BR,Arwal,700843,7381,74,7307,101624,345175,116424
81,BR,Aurangabad,2511243,20011,75,19936,412007,1132482,407913
82,BR,Banka,2029339,7379,112,7267,364776,935177,351254
83,BR,Begusarai,2954367,27212,457,26754,213670,1430906,480982
84,BR,Bhagalpur,3032226,25840,309,25531,582113,1494951,650332
85,BR,Bhojpur,2720155,10210,159,10051,466438,1291186,382719
86,BR,Buxar,1707643,9248,182,9066,461428,907374,322555
87,BR,Darbhanga,3921971,10937,370,10567,448442,1869372,741553
88,BR,East Champaran,5082868,19017,430,18585,548132,2498559,1002939
89,BR,Gaya,4379383,33952,280,33672,872359,1925234,722746
90,BR,Gopalganj,2558037,16685,94,16591,562654,1286763,481968
91,BR,Jamui,1756078,9418,106,9312,342005,800488,222093
92,BR,Jehanabad,1124176,10783,109,10674,492255,498448,184446
93,BR,Kaimur,1626900,4984,147,4837,442332,801438,225437
94,BR,Katihar,3068149,18145,94,18051,556438,1451838,403046
95,BR,Khagaria,1657599,10064,88,9976,148340,775019,222012
96,BR,Kishanganj,1690948,10128,66,10057,294321,757066,205274
97,BR,Lakhisarai,1000717,7776,102,7674,332434,461970,138407
98,BR,Madhepura,1994618,12547,111,12435,455482,965767,260408
99,BR,Madhubani,4476044,18365,339,18023,715168,1974159,680214
100,BR,Munger,1359054,15111,158,14953,325212,707588,264665
101,BR,Muzaffarpur,4778610,31398,621,30777,722651,2253919,717015
102,BR,Nalanda,2872523,23432,468,22964,591346,1393762,638181
103,BR,Nawada,2216653,10353,178,10174,322514,1062349,274319
104,BR,Patna,5772804,147007,2334,144651,676238,3421614,2366474
105,BR,Purnia,3273127,24427,180,24247,568756,1603099,729224
106,BR,Rohtas,2962593,13980,271,13707,521553,1498172,465660
107,BR,Saharsa,1897102,17616,134,17482,356327,995618,366567
108,BR,Samastipur,4254782,20020,155,19864,614569,1991102,555728
109,BR,Saran,3943098,23278,255,23020,761473,1868014,736766
110,BR,Sheikhpura,634927,7693,75,7618,142348,287209,95322
111,BR,Sheohar,656916,4404,36,4368,199431,300967,108766
112,BR,Sitamarhi,3419622,9185,127,9058,453227,1511464,424182
113,BR,Siwan,3318176,15195,170,15025,536438,1670590,684755
114,BR,Supaul,2228397,17222,129,17093,456511,1069993,369925
115,BR,Vaishali,3495021,19827,192,19632,275884,1671469,478638
116,BR,West Champaran,3935042,20890,358,20532,551778,1784016,469332

-----

In [20]:
Data2[Data2['State']=='CH']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
117,CH,Chandigarh,1055450,65351,820,64495,792851,926035,546981

-----

In [21]:
Data2[Data2['State']=='CT']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
118,CT,Balod,826165,27278,396,26880,2749,537459,271570
119,CT,Baloda Bazar,1305343,43085,471,42611,3816,617777,211945
120,CT,Balrampur,598855,20302,118,20182,21481,305554,112777
121,CT,Bametara,197035,19963,236,19726,3113,405388,132925
122,CT,Bastar,1302253,21066,188,20845,4522,443759,178775
123,CT,Bijapur,229832,8324,55,8263,1239,103247,44245
124,CT,Bilaspur,1961922,65681,1210,64448,9823,1031494,525066
125,CT,Dakshin Bastar Dantewada,533638,10840,25,10809,1168,158243,80855
126,CT,Dhamtari,799199,27239,545,26690,1501,509782,224591
127,CT,Durg,3343079,96880,1798,95028,5020,1012391,525445
128,CT,Gariaband,597653,19701,194,19506,2096,293987,99137
129,CT,Gaurela Pendra Marwahi,597653,12011,146,11864,273,189474,79788
130,CT,Janjgir Champa,1620632,57636,838,56766,4016,896087,317605
131,CT,Jashpur,852043,27093,212,26867,2542,435884,182747
132,CT,Kabeerdham,584667,22771,267,22503,2829,402362,173494
133,CT,Kondagaon,578326,13139,99,13036,1607,317695,100468
134,CT,Korba,1206563,54847,580,54228,10034,650457,287588
135,CT,Koriya,659039,26980,177,26798,2689,375503,128177
136,CT,Mahasamund,1032275,31365,365,31000,2183,738333,428365
137,CT,Mungeli,701707,23921,167,23753,2922,282508,109857
138,CT,Narayanpur,140206,4019,14,4005,804,53032,19468
139,CT,Other State,140206,805,131,666,0,0,0
140,CT,Raigarh,1493627,62590,978,61597,5084,1074306,967326
141,CT,Raipur,4062160,158035,3139,154852,12704,1557999,915437
142,CT,Rajnandgaon,1537520,56077,515,55557,124947,1028876,530711
143,CT,Sukma,249000,8066,20,8041,1723,134654,81437
144,CT,Surajpur,660280,29029,224,28805,1830,419247,163526
145,CT,Surguja,420661,33673,245,33426,103578,468885,277031
146,CT,Uttar Bastar Kanker,748593,23636,224,23407,2051,405744,171484

In [22]:
Data2.drop([139], axis=0, inplace=True)

In [23]:
Data2[Data2['State']=='CT']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
118,CT,Balod,826165,27278,396,26880,2749,537459,271570
119,CT,Baloda Bazar,1305343,43085,471,42611,3816,617777,211945
120,CT,Balrampur,598855,20302,118,20182,21481,305554,112777
121,CT,Bametara,197035,19963,236,19726,3113,405388,132925
122,CT,Bastar,1302253,21066,188,20845,4522,443759,178775
123,CT,Bijapur,229832,8324,55,8263,1239,103247,44245
124,CT,Bilaspur,1961922,65681,1210,64448,9823,1031494,525066
125,CT,Dakshin Bastar Dantewada,533638,10840,25,10809,1168,158243,80855
126,CT,Dhamtari,799199,27239,545,26690,1501,509782,224591
127,CT,Durg,3343079,96880,1798,95028,5020,1012391,525445
128,CT,Gariaband,597653,19701,194,19506,2096,293987,99137
129,CT,Gaurela Pendra Marwahi,597653,12011,146,11864,273,189474,79788
130,CT,Janjgir Champa,1620632,57636,838,56766,4016,896087,317605
131,CT,Jashpur,852043,27093,212,26867,2542,435884,182747
132,CT,Kabeerdham,584667,22771,267,22503,2829,402362,173494
133,CT,Kondagaon,578326,13139,99,13036,1607,317695,100468
134,CT,Korba,1206563,54847,580,54228,10034,650457,287588
135,CT,Koriya,659039,26980,177,26798,2689,375503,128177
136,CT,Mahasamund,1032275,31365,365,31000,2183,738333,428365
137,CT,Mungeli,701707,23921,167,23753,2922,282508,109857
138,CT,Narayanpur,140206,4019,14,4005,804,53032,19468
140,CT,Raigarh,1493627,62590,978,61597,5084,1074306,967326
141,CT,Raipur,4062160,158035,3139,154852,12704,1557999,915437
142,CT,Rajnandgaon,1537520,56077,515,55557,124947,1028876,530711
143,CT,Sukma,249000,8066,20,8041,1723,134654,81437
144,CT,Surajpur,660280,29029,224,28805,1830,419247,163526
145,CT,Surguja,420661,33673,245,33426,103578,468885,277031
146,CT,Uttar Bastar Kanker,748593,23636,224,23407,2051,405744,171484

----

In [24]:
Data2[Data2['State']=='DL']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
147,DL,Delhi,19814000,1439870,25091,1414431,29427753,13055636,7425404

-----

In [25]:
Data2[Data2['State']=='DN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
148,DN,Dadra and Nagar Haveli,343709,5920,3,5910,44813,387772,183553
149,DN,Daman,191173,3543,1,3516,19338,234202,155547
150,DN,Diu,52074,1218,0,1218,8259,38779,31153

-----

In [26]:
Data2[Data2['State']=='GA']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
151,GA,North Goa,817761,0,0,0,0,600586,424066
152,GA,South Goa,639962,0,0,0,0,661972,487016
153,GA,Unknown,639962,178108,3364,174392,0,0,0

In [27]:
Data2.drop([153], axis=0, inplace=True)

In [28]:
Data2[Data2['State']=='GA']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
151,GA,North Goa,817761,0,0,0,0,600586,424066
152,GA,South Goa,639962,0,0,0,0,661972,487016

-----

In [29]:
Data2[Data2['State']=='GJ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
154,GJ,Ahmedabad,7208200,238334,3411,234889,2556492,5961594,3439921
155,GJ,Amreli,1513614,10810,102,10708,212265,927389,551970
156,GJ,Anand,2090276,9637,49,9581,171851,1471865,935893
157,GJ,Aravalli,1051746,5186,78,5108,122182,717964,522361
158,GJ,Banaskantha,3116045,13631,162,13469,218527,2140492,1157901
159,GJ,Bharuch,1550822,11426,118,11308,156057,1217587,669742
160,GJ,Bhavnagar,2877961,21447,301,21143,392834,1680398,986097
161,GJ,Botad,656005,2218,42,2176,98559,378232,228691
162,GJ,Chhota Udaipur,1071831,3395,38,3357,93838,635695,420157
163,GJ,Dahod,2126558,9955,38,9917,218259,1499052,631818
164,GJ,Dang,226769,866,18,848,31921,156334,59262
165,GJ,Devbhumi Dwarka,752484,4175,82,4093,80424,504501,309771
166,GJ,Gandhinagar,1387478,20754,205,20549,292598,1175562,706208
167,GJ,Gir Somnath,1217477,8570,67,8499,121948,845224,363467
168,GJ,Jamnagar,2159130,34978,478,34494,307911,1111813,653950
169,GJ,Junagadh,2742291,20505,272,20226,199699,1316479,733025
170,GJ,Kheda,2298934,10439,48,10391,218140,1454344,893742
171,GJ,Kutch,2090313,12631,145,12474,267060,1412923,680232
172,GJ,Mahisagar,994624,8194,72,8122,122796,815594,459520
173,GJ,Mehsana,2027727,24419,177,24242,229904,1405786,869969
174,GJ,Morbi,960329,6502,87,6415,157321,674000,308840
175,GJ,Narmada,590379,5955,15,5940,76134,413260,279684
176,GJ,Navsari,1330711,7215,24,7181,129099,948673,647484
177,GJ,Other State,1330711,162,3,159,108,0,0
178,GJ,Panchmahal,2388267,11770,70,11700,160981,1105110,626003
179,GJ,Patan,1342746,11624,129,11495,169059,850462,533438
180,GJ,Porbandar,586062,3486,19,3467,97912,419364,256377
181,GJ,Rajkot,3157676,57976,725,57243,731251,2227111,1255012
182,GJ,Sabarkantha,2427346,9317,157,9159,182090,1000517,596705
183,GJ,Surat,4996391,143874,1956,141885,1938229,4781894,2529712
184,GJ,Surendranagar,1755873,8121,136,7985,201153,1113845,715931
185,GJ,Tapi,806489,4441,24,4417,92524,527345,303297
186,GJ,Vadodara,3639775,78159,788,77335,695670,2612578,1940514
187,GJ,Valsad,1703068,6405,53,6308,155380,1232139,704675

In [30]:
Data2.drop([177], axis=0, inplace=True)

In [31]:
Data2[Data2['State']=='GJ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
154,GJ,Ahmedabad,7208200,238334,3411,234889,2556492,5961594,3439921
155,GJ,Amreli,1513614,10810,102,10708,212265,927389,551970
156,GJ,Anand,2090276,9637,49,9581,171851,1471865,935893
157,GJ,Aravalli,1051746,5186,78,5108,122182,717964,522361
158,GJ,Banaskantha,3116045,13631,162,13469,218527,2140492,1157901
159,GJ,Bharuch,1550822,11426,118,11308,156057,1217587,669742
160,GJ,Bhavnagar,2877961,21447,301,21143,392834,1680398,986097
161,GJ,Botad,656005,2218,42,2176,98559,378232,228691
162,GJ,Chhota Udaipur,1071831,3395,38,3357,93838,635695,420157
163,GJ,Dahod,2126558,9955,38,9917,218259,1499052,631818
164,GJ,Dang,226769,866,18,848,31921,156334,59262
165,GJ,Devbhumi Dwarka,752484,4175,82,4093,80424,504501,309771
166,GJ,Gandhinagar,1387478,20754,205,20549,292598,1175562,706208
167,GJ,Gir Somnath,1217477,8570,67,8499,121948,845224,363467
168,GJ,Jamnagar,2159130,34978,478,34494,307911,1111813,653950
169,GJ,Junagadh,2742291,20505,272,20226,199699,1316479,733025
170,GJ,Kheda,2298934,10439,48,10391,218140,1454344,893742
171,GJ,Kutch,2090313,12631,145,12474,267060,1412923,680232
172,GJ,Mahisagar,994624,8194,72,8122,122796,815594,459520
173,GJ,Mehsana,2027727,24419,177,24242,229904,1405786,869969
174,GJ,Morbi,960329,6502,87,6415,157321,674000,308840
175,GJ,Narmada,590379,5955,15,5940,76134,413260,279684
176,GJ,Navsari,1330711,7215,24,7181,129099,948673,647484
178,GJ,Panchmahal,2388267,11770,70,11700,160981,1105110,626003
179,GJ,Patan,1342746,11624,129,11495,169059,850462,533438
180,GJ,Porbandar,586062,3486,19,3467,97912,419364,256377
181,GJ,Rajkot,3157676,57976,725,57243,731251,2227111,1255012
182,GJ,Sabarkantha,2427346,9317,157,9159,182090,1000517,596705
183,GJ,Surat,4996391,143874,1956,141885,1938229,4781894,2529712
184,GJ,Surendranagar,1755873,8121,136,7985,201153,1113845,715931
185,GJ,Tapi,806489,4441,24,4417,92524,527345,303297
186,GJ,Vadodara,3639775,78159,788,77335,695670,2612578,1940514
187,GJ,Valsad,1703068,6405,53,6308,155380,1232139,704675

-----

In [32]:
Data2[Data2['State']=='HP']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
188,HP,Bilaspur,382056,14374,85,14120,39738,323204,234916
189,HP,Chamba,518844,13687,160,13492,53505,364258,198146
190,HP,Hamirpur,454293,17379,287,16741,46407,377332,269143
191,HP,Kangra,1507223,50818,1125,48872,94910,1182563,725754
192,HP,Kinnaur,84298,3507,38,3465,6730,79673,63209
193,HP,Kullu,437474,9692,158,9496,12012,351261,203549
194,HP,Lahaul and Spiti,31528,2953,18,2935,540,31920,20986
195,HP,Mandi,999518,31606,448,30983,41895,775242,479355
196,HP,Shimla,813384,27549,641,26786,32922,678341,412640
197,HP,Sirmaur,530164,15456,211,15244,42564,423793,209631
198,HP,Solan,576670,22817,314,22472,57200,691163,339630
199,HP,Una,521057,14268,253,13804,52905,434945,286819

-----

In [33]:
Data2[Data2['State']=='HR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
200,HR,Ambala,1136784,30150,509,29639,206003,873020,571772
201,HR,Bhiwani,1629109,22409,652,21757,176225,741251,317765
202,HR,Charkhi Dadri,502276,5078,139,4939,58525,364599,262184
203,HR,Faridabad,1798954,99902,716,99157,504970,1658940,840997
204,HR,Fatehabad,941522,17875,481,17394,27456,574546,201763
205,HR,Gurugram,1514085,181428,922,180454,742619,2193114,1377160
206,HR,Hisar,1742815,53995,1136,52857,322039,994213,332162
207,HR,Jhajjar,956907,18849,328,18514,186853,684511,293496
208,HR,Jind,1332042,21209,533,20675,11157,704573,250859
209,HR,Kaithal,1072861,11244,346,10898,11687,615168,217439
210,HR,Karnal,1506323,40037,552,39484,185147,1000120,451876
211,HR,Kurukshetra,964231,22147,357,21789,198881,610380,248125
212,HR,Mahendragarh,921680,21689,155,21534,143253,576527,264911
213,HR,Nuh,1089406,5014,123,4890,93389,354422,78081
214,HR,Palwal,1040493,11025,153,10872,139809,608874,221786
215,HR,Panchkula,558890,30770,378,30379,118725,456675,279951
216,HR,Panipat,1202811,31150,638,30510,58863,830805,273172
217,HR,Rewari,896129,20327,221,20106,151363,648724,294989
218,HR,Rohtak,1058683,25903,534,25350,25894,674649,305282
219,HR,Sirsa,1295114,29282,508,28771,150193,786205,278920
220,HR,Sonipat,1480080,47138,254,46884,238963,989125,411915
221,HR,Yamunanagar,1214162,24631,414,24215,196131,831598,340196

-----

In [34]:
Data2[Data2['State']=='JH']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
222,JH,Bokaro,2061918,19461,286,19170,11798,994497,333330
223,JH,Chatra,1042304,6033,53,5977,0,454807,126700
224,JH,Deoghar,1491879,10835,113,10721,6951,569167,230458
225,JH,Dhanbad,2682662,16589,382,16196,0,1185934,446946
226,JH,Dumka,1321096,4636,47,4589,5400,638722,229944
227,JH,East Singhbhum,2291032,51974,1046,50907,0,1424376,661091
228,JH,Garhwa,1322387,6895,94,6801,0,456056,148421
229,JH,Giridih,2445203,8964,130,8834,11132,994417,301193
230,JH,Godda,1311382,5840,87,5753,10980,527710,198198
231,JH,Gumla,1025656,9900,38,9857,0,387738,156364
232,JH,Hazaribagh,1734005,19593,186,19404,0,865943,317137
233,JH,Jamtara,790207,5599,61,5534,2880,381155,137216
234,JH,Khunti,530299,7820,96,7724,3852,227503,107053
235,JH,Koderma,717169,12872,136,12736,0,363078,140609
236,JH,Latehar,725673,7871,57,7814,0,294989,84919
237,JH,Lohardaga,461738,6709,88,6621,7526,173109,63130
238,JH,Pakur,899200,2552,12,2539,6429,378048,108941
239,JH,Palamu,1936319,12294,110,12184,0,788026,311074
240,JH,Ramgarh,949159,13923,197,13714,0,522017,185442
241,JH,Ranchi,2912022,86116,1585,84495,0,1512114,656001
242,JH,Sahibganj,1150038,4834,42,4792,5029,430948,132560
243,JH,Saraikela-Kharsawan,1063458,7207,67,7137,161796,505417,167980
244,JH,Simdega,599813,7193,92,7101,0,277357,112059
245,JH,West Singhbhum,1501619,13054,133,12918,0,630437,225607

-----

In [35]:
Data2[Data2['State']=='JK']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
246,JK,Anantnag,1070144,16603,205,16378,0,759605,402717
247,JK,Bandipora,385099,9814,102,9693,0,303665,154345
248,JK,Baramulla,1015503,24613,282,24196,0,776258,450002
249,JK,Budgam,735753,23844,207,23548,0,592075,319587
250,JK,Doda,409576,7869,133,7704,0,313983,158751
251,JK,Ganderbal,297003,10436,79,10313,0,227349,133812
252,JK,Jammu,1526406,53324,1145,52145,0,1168448,610537
253,JK,Kathua,615711,9327,152,9175,0,482584,249588
254,JK,Kishtwar,230696,4819,44,4773,0,164754,78041
255,JK,Kulgam,422786,11489,117,11367,0,401091,202260
256,JK,Kupwara,875564,14463,166,14268,0,673594,348327
257,JK,Pulwama,570060,15512,194,15309,139552,430622,244300
258,JK,Punch,476820,6482,98,6371,0,386098,234540
259,JK,Rajouri,619266,11272,237,11031,0,498787,241407
260,JK,Ramban,283313,6043,67,5971,0,220690,147086
261,JK,Reasi,314714,6626,43,6575,0,244379,133971
262,JK,Samba,318611,7152,120,7032,0,280700,122554
263,JK,Shopiyan,265960,5607,58,5549,0,203036,95122
264,JK,Srinagar,1269751,75539,846,74242,0,957347,592016
265,JK,Udhampur,555357,11415,137,11275,0,425945,227785

-----

In [36]:
Data2[Data2['State']=='KA']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
266,KA,Bagalkote,1890826,35178,333,34843,49851,1188016,613422
267,KA,Ballari,2532383,97763,1689,95961,402407,1758198,864065
268,KA,Belagavi,4778439,79900,938,78879,396565,3165252,1386668
269,KA,Bengaluru Rural,987257,62005,890,61073,240277,700825,385704
270,KA,Bengaluru Urban,9588910,1251872,16281,1229059,6883888,9219875,5903791
271,KA,Bidar,1700018,24340,400,23936,67689,929776,515993
272,KA,Chamarajanagara,1020962,33001,500,32469,5156,647951,351940
273,KA,Chikkaballapura,1254377,43951,429,43501,15089,852473,497674
274,KA,Chikkamagaluru,1137753,51126,395,50662,5467,737417,346002
275,KA,Chitradurga,1660378,36666,206,36412,4393,1020280,618156
276,KA,Dakshina Kannada,2083625,115478,1680,113515,131281,1531107,848253
277,KA,Davanagere,1946905,50989,608,50359,17483,1016827,495371
278,KA,Dharwad,1846993,60970,1315,59639,137696,1212295,561504
279,KA,Gadag,1065235,26066,319,25747,8904,691646,328477
280,KA,Hassan,1776221,111785,1256,110294,10800,1224599,614828
281,KA,Haveri,1598506,21947,644,21301,11714,999178,383705
282,KA,Kalaburagi,2564892,61926,819,61087,409596,1323039,641641
283,KA,Kodagu,554762,37095,329,36616,143982,385482,212033
284,KA,Kolar,1540231,46916,638,46266,91924,991957,625918
285,KA,Koppal,1391292,35198,521,34660,8708,814373,411092
286,KA,Mandya,1808680,73753,650,73029,14874,1189318,659066
287,KA,Mysuru,2994744,179167,2416,176447,107338,2141764,1239770
288,KA,Other State,2994744,36,3,33,0,0,0
289,KA,Raichur,1924773,39973,331,39641,21011,1021603,448501
290,KA,Ramanagara,1082739,24204,320,23869,103399,754463,469335
291,KA,Shivamogga,1755512,69444,1088,68239,48760,1162073,535447
292,KA,Tumakuru,2681449,120836,1127,119420,106564,1672730,881580
293,KA,Udupi,1177908,76718,489,76181,86092,919074,529427
294,KA,Uttara Kannada,1353299,56218,766,55339,13833,980496,505589
295,KA,Vijayapura,2175102,36267,495,35764,25108,1535235,634270
296,KA,Yadgir,1172985,27545,207,27337,221485,708887,348094

In [37]:
Data2.drop([288], axis=0, inplace=True)

In [38]:
Data2[Data2['State']=='KA']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
266,KA,Bagalkote,1890826,35178,333,34843,49851,1188016,613422
267,KA,Ballari,2532383,97763,1689,95961,402407,1758198,864065
268,KA,Belagavi,4778439,79900,938,78879,396565,3165252,1386668
269,KA,Bengaluru Rural,987257,62005,890,61073,240277,700825,385704
270,KA,Bengaluru Urban,9588910,1251872,16281,1229059,6883888,9219875,5903791
271,KA,Bidar,1700018,24340,400,23936,67689,929776,515993
272,KA,Chamarajanagara,1020962,33001,500,32469,5156,647951,351940
273,KA,Chikkaballapura,1254377,43951,429,43501,15089,852473,497674
274,KA,Chikkamagaluru,1137753,51126,395,50662,5467,737417,346002
275,KA,Chitradurga,1660378,36666,206,36412,4393,1020280,618156
276,KA,Dakshina Kannada,2083625,115478,1680,113515,131281,1531107,848253
277,KA,Davanagere,1946905,50989,608,50359,17483,1016827,495371
278,KA,Dharwad,1846993,60970,1315,59639,137696,1212295,561504
279,KA,Gadag,1065235,26066,319,25747,8904,691646,328477
280,KA,Hassan,1776221,111785,1256,110294,10800,1224599,614828
281,KA,Haveri,1598506,21947,644,21301,11714,999178,383705
282,KA,Kalaburagi,2564892,61926,819,61087,409596,1323039,641641
283,KA,Kodagu,554762,37095,329,36616,143982,385482,212033
284,KA,Kolar,1540231,46916,638,46266,91924,991957,625918
285,KA,Koppal,1391292,35198,521,34660,8708,814373,411092
286,KA,Mandya,1808680,73753,650,73029,14874,1189318,659066
287,KA,Mysuru,2994744,179167,2416,176447,107338,2141764,1239770
289,KA,Raichur,1924773,39973,331,39641,21011,1021603,448501
290,KA,Ramanagara,1082739,24204,320,23869,103399,754463,469335
291,KA,Shivamogga,1755512,69444,1088,68239,48760,1162073,535447
292,KA,Tumakuru,2681449,120836,1127,119420,106564,1672730,881580
293,KA,Udupi,1177908,76718,489,76181,86092,919074,529427
294,KA,Uttara Kannada,1353299,56218,766,55339,13833,980496,505589
295,KA,Vijayapura,2175102,36267,495,35764,25108,1535235,634270
296,KA,Yadgir,1172985,27545,207,27337,221485,708887,348094

-----

In [39]:
Data2[Data2['State']=='KL']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
297,KL,Alappuzha,2121943,316160,1862,313515,0,1518055,855411
298,KL,Ernakulam,3279860,602800,3555,583842,0,2953482,1759232
299,KL,Idukki,1107453,147118,519,140292,237691,859116,481911
300,KL,Kannur,2525637,275264,2325,269475,392136,1891004,959656
301,KL,Kasaragod,1302600,138815,617,134824,0,910194,521754
302,KL,Kollam,2629703,390872,2451,383923,0,1951077,1047951
303,KL,Kottayam,1979384,322484,1356,315759,0,1477425,841596
304,KL,Kozhikode,3089543,527346,3374,519030,955060,2341296,1154561
305,KL,Malappuram,4110956,567584,2576,562111,469850,2833303,1103557
306,KL,Palakkad,2810892,373839,2881,364351,226562,1989222,950909
307,KL,Pathanamthitta,1195537,193406,1076,184979,306034,1048352,677224
308,KL,Thiruvananthapuram,3307284,463977,4996,448304,436661,2578575,1562343
309,KL,Thrissur,3110327,523260,3575,515481,639055,2295947,1305873
310,KL,Wayanad,816558,125732,518,121295,211953,659451,436359

-----

In [40]:
Data2[Data2['State']=='LA']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
311,LA,Kargil,143000,3619,58,3556,37471,87221,64300
312,LA,Leh,147000,17343,150,17131,72597,121577,87980

-----

In [41]:
Data2[Data2['State']=='LD']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
313,LD,Lakshadweep,64473,10365,51,10270,263541,55129,45951

-----

In [42]:
Data2[Data2['State']=='MH']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
314,MH,Ahmednagar,4543083,339457,7043,330122,11077,2468837,881402
315,MH,Akola,1818617,58764,1425,57318,0,760099,357931
316,MH,Amravati,2887826,96231,1594,94618,0,1241168,548807
317,MH,Aurangabad,3695928,155331,4251,150615,11800,1772420,723304
318,MH,Beed,2585962,103749,2806,100803,111488,1145382,485615
319,MH,Bhandara,1198810,60080,1123,58945,54195,825867,421585
320,MH,Buldhana,2588039,85520,797,84710,115874,1136679,512944
321,MH,Chandrapur,2194262,88968,1560,87387,199809,1335017,458690
322,MH,Dhule,2048781,46172,654,45501,90092,1007007,476051
323,MH,Gadchiroli,1071795,30440,669,29735,11993,540319,231208
324,MH,Gondia,1322331,40519,569,39941,130146,888961,469980
325,MH,Hingoli,1178973,18475,506,17949,6797,537442,201000
326,MH,Jalgaon,4224442,139934,2714,137178,429198,2085101,699544
327,MH,Jalna,1958483,60615,1209,59382,117047,1081253,413822
328,MH,Kolhapur,3874015,206671,5847,200699,0,2536731,1043329
329,MH,Latur,2455543,92133,2437,89608,0,1182476,507616
330,MH,Mumbai,12442373,756749,16247,733318,2789713,9115615,5564204
331,MH,Nagpur,4653171,493607,9128,484334,382083,3006439,1460890
332,MH,Nanded,3356566,90409,2658,87721,117319,1560558,560812
333,MH,Nandurbar,1646177,40006,948,39054,37740,723850,342054
334,MH,Nashik,6109052,410681,8679,401418,498397,3471046,1299122
335,MH,Osmanabad,1660311,67828,1963,65577,109450,803192,308210
336,MH,Other State,1660311,144,111,31,0,0,0
337,MH,Palghar,2990116,138013,3282,134309,319724,1869199,678741
338,MH,Parbhani,1835982,52362,1233,51078,110937,905874,378183
339,MH,Pune,9426959,1154776,19594,1131401,97127,7843130,4264808
340,MH,Raigad,2635394,195958,4551,190759,304088,1859507,774913
341,MH,Ratnagiri,1612672,78950,2478,76292,0,920151,388703
342,MH,Sangli,2820575,209771,5613,203673,0,1810980,802877
343,MH,Satara,3003922,250414,6428,243482,312742,1963730,865197
344,MH,Sindhudurg,848868,52783,1434,50987,0,524896,279051
345,MH,Solapur,4315527,210466,5551,204364,629266,2242339,690069
346,MH,Thane,11060148,610128,11462,597141,1229625,5484839,2751182
347,MH,Wardha,1296157,57344,1217,55956,52365,755863,314899
348,MH,Washim,1196714,41663,637,41020,0,579042,321710
349,MH,Yavatmal,2775457,75967,1798,74159,141551,1211321,496306

In [43]:
Data2.drop([336], axis=0, inplace=True)

In [44]:
Data2[Data2['State']=='MH']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
314,MH,Ahmednagar,4543083,339457,7043,330122,11077,2468837,881402
315,MH,Akola,1818617,58764,1425,57318,0,760099,357931
316,MH,Amravati,2887826,96231,1594,94618,0,1241168,548807
317,MH,Aurangabad,3695928,155331,4251,150615,11800,1772420,723304
318,MH,Beed,2585962,103749,2806,100803,111488,1145382,485615
319,MH,Bhandara,1198810,60080,1123,58945,54195,825867,421585
320,MH,Buldhana,2588039,85520,797,84710,115874,1136679,512944
321,MH,Chandrapur,2194262,88968,1560,87387,199809,1335017,458690
322,MH,Dhule,2048781,46172,654,45501,90092,1007007,476051
323,MH,Gadchiroli,1071795,30440,669,29735,11993,540319,231208
324,MH,Gondia,1322331,40519,569,39941,130146,888961,469980
325,MH,Hingoli,1178973,18475,506,17949,6797,537442,201000
326,MH,Jalgaon,4224442,139934,2714,137178,429198,2085101,699544
327,MH,Jalna,1958483,60615,1209,59382,117047,1081253,413822
328,MH,Kolhapur,3874015,206671,5847,200699,0,2536731,1043329
329,MH,Latur,2455543,92133,2437,89608,0,1182476,507616
330,MH,Mumbai,12442373,756749,16247,733318,2789713,9115615,5564204
331,MH,Nagpur,4653171,493607,9128,484334,382083,3006439,1460890
332,MH,Nanded,3356566,90409,2658,87721,117319,1560558,560812
333,MH,Nandurbar,1646177,40006,948,39054,37740,723850,342054
334,MH,Nashik,6109052,410681,8679,401418,498397,3471046,1299122
335,MH,Osmanabad,1660311,67828,1963,65577,109450,803192,308210
337,MH,Palghar,2990116,138013,3282,134309,319724,1869199,678741
338,MH,Parbhani,1835982,52362,1233,51078,110937,905874,378183
339,MH,Pune,9426959,1154776,19594,1131401,97127,7843130,4264808
340,MH,Raigad,2635394,195958,4551,190759,304088,1859507,774913
341,MH,Ratnagiri,1612672,78950,2478,76292,0,920151,388703
342,MH,Sangli,2820575,209771,5613,203673,0,1810980,802877
343,MH,Satara,3003922,250414,6428,243482,312742,1963730,865197
344,MH,Sindhudurg,848868,52783,1434,50987,0,524896,279051
345,MH,Solapur,4315527,210466,5551,204364,629266,2242339,690069
346,MH,Thane,11060148,610128,11462,597141,1229625,5484839,2751182
347,MH,Wardha,1296157,57344,1217,55956,52365,755863,314899
348,MH,Washim,1196714,41663,637,41020,0,579042,321710
349,MH,Yavatmal,2775457,75967,1798,74159,141551,1211321,496306

-----

In [45]:
Data2[Data2['State']=='ML']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
350,ML,East Garo Hills,317618,1867,13,1844,0,47655,20648
351,ML,East Jaintia Hills,122436,2430,31,2395,0,64432,33259
352,ML,East Khasi Hills,824059,41025,987,39754,0,318381,225526
353,ML,North Garo Hills,118325,1685,8,1674,0,62675,28288
354,ML,Ribhoi,258380,9697,89,9584,0,92049,48460
355,ML,South Garo Hills,142574,1216,12,1203,0,40103,18937
356,ML,South West Garo Hills,172495,1872,17,1852,0,73397,39210
357,ML,South West Khasi Hills,110152,2548,17,2525,0,33372,17117
358,ML,West Garo Hills,642923,9027,72,8943,0,209662,119725
359,ML,West Jaintia Hills,270352,6803,133,6642,0,84529,47646
360,ML,West Khasi Hills,385601,5457,71,5330,0,77018,43000

-----

In [46]:
Data2[Data2['State']=='MN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
361,MN,Bishnupur,240363,0,0,0,0,128902,64791
362,MN,Chandel,144028,0,0,0,0,26634,15197
363,MN,Churachandpur,271274,0,0,0,13542,104247,62208
364,MN,Imphal East,452661,0,0,0,0,251626,148953
365,MN,Imphal West,514683,0,0,0,0,308782,199404
366,MN,Jiribam,43818,0,0,0,0,27911,17262
367,MN,Kakching,135481,0,0,0,0,84702,49653
368,MN,Kamjong,45616,0,0,0,0,10502,5370
369,MN,Kangpokpi,45616,0,0,0,0,39027,19015
370,MN,Noney,45616,0,0,0,0,16798,9819
371,MN,Pherzawl,47250,0,0,0,0,12417,9888
372,MN,Senapati,354772,0,0,0,0,28247,18288
373,MN,Tamenglong,140143,0,0,0,0,19931,10361
374,MN,Tengnoupal,140143,0,0,0,0,26209,12163
375,MN,Thoubal,420517,0,0,0,0,141308,62279
376,MN,Ukhrul,183115,0,0,0,0,22193,14759
377,MN,Unknown,183115,123731,1921,121102,0,0,0

In [47]:
Data2.drop([377], axis=0, inplace=True)

In [48]:
Data2[Data2['State']=='MN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
361,MN,Bishnupur,240363,0,0,0,0,128902,64791
362,MN,Chandel,144028,0,0,0,0,26634,15197
363,MN,Churachandpur,271274,0,0,0,13542,104247,62208
364,MN,Imphal East,452661,0,0,0,0,251626,148953
365,MN,Imphal West,514683,0,0,0,0,308782,199404
366,MN,Jiribam,43818,0,0,0,0,27911,17262
367,MN,Kakching,135481,0,0,0,0,84702,49653
368,MN,Kamjong,45616,0,0,0,0,10502,5370
369,MN,Kangpokpi,45616,0,0,0,0,39027,19015
370,MN,Noney,45616,0,0,0,0,16798,9819
371,MN,Pherzawl,47250,0,0,0,0,12417,9888
372,MN,Senapati,354772,0,0,0,0,28247,18288
373,MN,Tamenglong,140143,0,0,0,0,19931,10361
374,MN,Tengnoupal,140143,0,0,0,0,26209,12163
375,MN,Thoubal,420517,0,0,0,0,141308,62279
376,MN,Ukhrul,183115,0,0,0,0,22193,14759

-----

In [49]:
Data2[Data2['State']=='MP']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
378,MP,Agar Malwa,183115,3303,68,3235,0,424846,128822
379,MP,Alirajpur,728677,3505,48,3453,0,369571,114601
380,MP,Anuppur,749521,9238,89,9140,3424,481238,164712
381,MP,Ashoknagar,844979,3670,57,3613,55792,550087,186066
382,MP,Balaghat,1701156,9100,64,9017,9654,1278183,549643
383,MP,Barwani,1385659,8366,90,8267,41588,788872,225336
384,MP,Betul,1575247,12905,277,12590,68036,1042931,343674
385,MP,Bhind,1703562,2995,32,2960,44395,1034374,351065
386,MP,Bhopal,2368145,123552,972,122121,245166,2012966,1168682
387,MP,Burhanpur,756993,2568,39,2529,13040,493618,220909
388,MP,Chhatarpur,1762857,7609,91,7506,50518,1093616,336309
389,MP,Chhindwara,2090306,6734,120,6612,79090,1624355,591843
390,MP,Damoh,1263703,8120,186,7841,16564,844557,326505
391,MP,Datia,786375,6959,78,6874,40322,560238,296233
392,MP,Dewas,1563107,7723,51,7672,96155,1005266,477219
393,MP,Dhar,2184672,12572,130,12388,62597,1371226,536214
394,MP,Dindori,704218,4623,29,4588,3557,481366,186341
395,MP,Guna,1240938,5132,44,5085,40229,821399,284155
396,MP,Gwalior,2030543,53106,633,52427,206696,1452149,730150
397,MP,Harda,570302,5055,96,4954,36708,394641,159293
398,MP,Hoshangabad,1240975,10688,99,10570,46294,865566,369945
399,MP,Indore,3272335,153230,1391,151410,780266,2951024,1728945
400,MP,Jabalpur,2460714,50779,670,49896,293923,1957070,1099359
401,MP,Jhabua,1024091,7691,64,7619,52146,607542,185320
402,MP,Katni,1291684,9366,120,9242,56828,865274,306259
403,MP,Khandwa,1309443,4044,94,3946,17090,862885,310248
404,MP,Khargone,1872413,13970,239,13716,38413,1147444,411114
405,MP,Mandla,1053522,5188,25,5159,0,684882,246724
406,MP,Mandsaur,1339832,8637,84,8552,52733,948065,330902
407,MP,Morena,1965137,8236,95,8135,90967,1295658,582833
408,MP,Narsinghpur,1092141,11209,81,11115,90600,803225,318284
409,MP,Neemuch,825958,7926,84,7828,57292,579489,229183
410,MP,Niwari,825958,3715,48,3654,22574,0,0
411,MP,Panna,1016028,7331,63,7250,0,600823,168120
412,MP,Raigarh,1016028,1,0,0,0,0,0
413,MP,Raisen,1331699,9238,194,9030,44343,885585,333022
414,MP,Rajgarh,1546541,8729,172,8490,46604,1025584,450099
415,MP,Ratlam,1454483,17860,385,17438,51736,1026416,457972
416,MP,Rewa,2363744,16433,155,16270,22690,1639826,674779
417,MP,Sagar,2378295,16622,390,16154,64801,1563245,760746
418,MP,Satna,2228619,11965,133,11829,28159,1532585,481540
419,MP,Sehore,1311008,10136,73,10057,45061,909045,396375
420,MP,Seoni,1378876,6775,28,6739,15024,945564,341871
421,MP,Shahdol,1064989,10085,118,9958,18177,723227,337272
422,MP,Shajapur,1512353,6349,74,6273,56805,620316,278912
423,MP,Sheopur,687952,4000,78,3919,31449,413195,140296
424,MP,Shivpuri,1725818,12398,125,12261,47270,1109976,391707
425,MP,Sidhi,1126515,9219,87,9132,4660,679862,226632
426,MP,Singrauli,1178132,8801,82,8706,0,740335,224966
427,MP,Tikamgarh,1444920,6863,114,6742,43011,919592,293885
428,MP,Ujjain,1986864,18903,172,18720,31631,1452247,836514
429,MP,Umaria,643579,6294,63,6224,54811,455492,196492
430,MP,Unknown,643579,1416,1493,1632,0,0,0
431,MP,Vidisha,1458212,11922,237,11677,65935,975291,349024

In [50]:
Data2.drop([430], axis=0, inplace=True)

In [51]:
Data2[Data2['State']=='MP']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
378,MP,Agar Malwa,183115,3303,68,3235,0,424846,128822
379,MP,Alirajpur,728677,3505,48,3453,0,369571,114601
380,MP,Anuppur,749521,9238,89,9140,3424,481238,164712
381,MP,Ashoknagar,844979,3670,57,3613,55792,550087,186066
382,MP,Balaghat,1701156,9100,64,9017,9654,1278183,549643
383,MP,Barwani,1385659,8366,90,8267,41588,788872,225336
384,MP,Betul,1575247,12905,277,12590,68036,1042931,343674
385,MP,Bhind,1703562,2995,32,2960,44395,1034374,351065
386,MP,Bhopal,2368145,123552,972,122121,245166,2012966,1168682
387,MP,Burhanpur,756993,2568,39,2529,13040,493618,220909
388,MP,Chhatarpur,1762857,7609,91,7506,50518,1093616,336309
389,MP,Chhindwara,2090306,6734,120,6612,79090,1624355,591843
390,MP,Damoh,1263703,8120,186,7841,16564,844557,326505
391,MP,Datia,786375,6959,78,6874,40322,560238,296233
392,MP,Dewas,1563107,7723,51,7672,96155,1005266,477219
393,MP,Dhar,2184672,12572,130,12388,62597,1371226,536214
394,MP,Dindori,704218,4623,29,4588,3557,481366,186341
395,MP,Guna,1240938,5132,44,5085,40229,821399,284155
396,MP,Gwalior,2030543,53106,633,52427,206696,1452149,730150
397,MP,Harda,570302,5055,96,4954,36708,394641,159293
398,MP,Hoshangabad,1240975,10688,99,10570,46294,865566,369945
399,MP,Indore,3272335,153230,1391,151410,780266,2951024,1728945
400,MP,Jabalpur,2460714,50779,670,49896,293923,1957070,1099359
401,MP,Jhabua,1024091,7691,64,7619,52146,607542,185320
402,MP,Katni,1291684,9366,120,9242,56828,865274,306259
403,MP,Khandwa,1309443,4044,94,3946,17090,862885,310248
404,MP,Khargone,1872413,13970,239,13716,38413,1147444,411114
405,MP,Mandla,1053522,5188,25,5159,0,684882,246724
406,MP,Mandsaur,1339832,8637,84,8552,52733,948065,330902
407,MP,Morena,1965137,8236,95,8135,90967,1295658,582833
408,MP,Narsinghpur,1092141,11209,81,11115,90600,803225,318284
409,MP,Neemuch,825958,7926,84,7828,57292,579489,229183
410,MP,Niwari,825958,3715,48,3654,22574,0,0
411,MP,Panna,1016028,7331,63,7250,0,600823,168120
412,MP,Raigarh,1016028,1,0,0,0,0,0
413,MP,Raisen,1331699,9238,194,9030,44343,885585,333022
414,MP,Rajgarh,1546541,8729,172,8490,46604,1025584,450099
415,MP,Ratlam,1454483,17860,385,17438,51736,1026416,457972
416,MP,Rewa,2363744,16433,155,16270,22690,1639826,674779
417,MP,Sagar,2378295,16622,390,16154,64801,1563245,760746
418,MP,Satna,2228619,11965,133,11829,28159,1532585,481540
419,MP,Sehore,1311008,10136,73,10057,45061,909045,396375
420,MP,Seoni,1378876,6775,28,6739,15024,945564,341871
421,MP,Shahdol,1064989,10085,118,9958,18177,723227,337272
422,MP,Shajapur,1512353,6349,74,6273,56805,620316,278912
423,MP,Sheopur,687952,4000,78,3919,31449,413195,140296
424,MP,Shivpuri,1725818,12398,125,12261,47270,1109976,391707
425,MP,Sidhi,1126515,9219,87,9132,4660,679862,226632
426,MP,Singrauli,1178132,8801,82,8706,0,740335,224966
427,MP,Tikamgarh,1444920,6863,114,6742,43011,919592,293885
428,MP,Ujjain,1986864,18903,172,18720,31631,1452247,836514
429,MP,Umaria,643579,6294,63,6224,54811,455492,196492
431,MP,Vidisha,1458212,11922,237,11677,65935,975291,349024

In [52]:
Data2[Data2['State']=='MZ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
432,MZ,Aizawl,404054,75111,300,71337,0,315706,239593
433,MZ,Champhai,125370,5188,11,4745,0,74122,55251
434,MZ,Hnahthial,125370,1020,3,857,0,0,0
435,MZ,Khawzawl,125370,733,0,688,0,0,0
436,MZ,Kolasib,83054,7721,30,7561,0,50525,33101
437,MZ,Lawngtlai,117444,6740,23,6553,0,55877,25870
438,MZ,Lunglei,154094,9842,27,9053,0,95129,73298
439,MZ,Mamit,85757,4854,12,4448,0,43678,28873
440,MZ,Saiha,56366,5469,14,5304,0,34626,19984
441,MZ,Saitual,56366,471,2,420,0,0,0
442,MZ,Serchhip,64875,4210,10,3646,0,41932,36047

-----

In [53]:
Data2[Data2['State']=='NL']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
443,NL,Dimapur,379769,14684,421,13471,47020,268405,175502
444,NL,Kiphire,74033,258,9,246,1002,13017,8141
445,NL,Kohima,270063,9461,123,9095,33986,105758,82602
446,NL,Longleng,50593,307,2,286,1193,20577,15446
447,NL,Mokokchung,193171,2333,54,2186,3976,69198,54730
448,NL,Mon,259604,1159,14,1124,12278,70054,48331
449,NL,Peren,163294,920,6,897,5717,19956,12514
450,NL,Phek,163294,601,18,568,2779,31241,20746
451,NL,Tuensang,414801,1094,12,1077,4887,38130,26725
452,NL,Wokha,166239,402,11,361,1390,35138,23577
453,NL,Zunheboto,141014,623,15,593,2131,38077,22337

-----

In [54]:
Data2[Data2['State']=='OR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
454,OR,Angul,1271703,43920,393,43506,172873,786278,291800
455,OR,Balangir,1648574,23397,126,23257,87867,960786,299153
456,OR,Balasore,2317419,40787,299,40389,9843,1351099,534318
457,OR,Bargarh,1478833,31126,335,30762,0,829092,283966
458,OR,Bhadrak,1506522,26480,150,26260,258173,1026493,367945
459,OR,Boudh,439917,12634,112,12488,496,259325,92297
460,OR,Cuttack,2618708,94631,857,93404,5720,1434524,702278
461,OR,Deogarh,312164,6553,50,6460,682,223405,63727
462,OR,Dhenkanal,1192948,19871,243,19598,179477,738406,282859
463,OR,Gajapati,575880,9657,84,9555,715,288963,115535
464,OR,Ganjam,3520151,33849,485,33342,750442,2214981,1698328
465,OR,Jagatsinghpur,1136604,27920,316,27510,46648,677675,272499
466,OR,Jajpur,1826275,43735,172,43461,53956,1087735,383313
467,OR,Jharsuguda,579499,23863,176,23673,1663,399523,189682
468,OR,Kalahandi,1573054,24314,210,24082,1458,921185,304778
469,OR,Kandhamal,731952,11537,83,11453,1516,384009,150737
470,OR,Kendrapara,1439891,24860,252,24545,382732,916169,347854
471,OR,Kendujhar,1802777,20980,175,20798,474504,1087285,376311
472,OR,Khordha,2246341,175335,1552,171938,0,2063646,1502538
473,OR,Koraput,1376934,19137,78,19044,1401,860773,399063
474,OR,Malkangiri,612727,11667,49,11613,1841,391790,137925
475,OR,Mayurbhanj,2513895,40844,286,40416,3307,1222153,413698
476,OR,Nabarangapur,1218762,23549,86,23461,162154,675601,188457
477,OR,Nayagarh,962215,23505,212,23261,1104,593612,222606
478,OR,Nuapada,606490,22924,84,22803,310,402248,129685
479,OR,Puri,1697983,45431,459,44903,173340,1078666,523160
480,OR,Rayagada,961959,20224,167,19981,578,549767,184420
481,OR,Sambalpur,1044410,31651,240,31315,2007,768989,418110
482,OR,State Pool,1044410,32048,0,31587,0,0,0
483,OR,Subarnapur,652107,13187,61,13115,0,418336,192102
484,OR,Sundargarh,2080664,61841,594,61167,0,1122762,490428

In [55]:
Data2.drop([482], axis=0, inplace=True)

In [56]:
Data2[Data2['State']=='OR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
454,OR,Angul,1271703,43920,393,43506,172873,786278,291800
455,OR,Balangir,1648574,23397,126,23257,87867,960786,299153
456,OR,Balasore,2317419,40787,299,40389,9843,1351099,534318
457,OR,Bargarh,1478833,31126,335,30762,0,829092,283966
458,OR,Bhadrak,1506522,26480,150,26260,258173,1026493,367945
459,OR,Boudh,439917,12634,112,12488,496,259325,92297
460,OR,Cuttack,2618708,94631,857,93404,5720,1434524,702278
461,OR,Deogarh,312164,6553,50,6460,682,223405,63727
462,OR,Dhenkanal,1192948,19871,243,19598,179477,738406,282859
463,OR,Gajapati,575880,9657,84,9555,715,288963,115535
464,OR,Ganjam,3520151,33849,485,33342,750442,2214981,1698328
465,OR,Jagatsinghpur,1136604,27920,316,27510,46648,677675,272499
466,OR,Jajpur,1826275,43735,172,43461,53956,1087735,383313
467,OR,Jharsuguda,579499,23863,176,23673,1663,399523,189682
468,OR,Kalahandi,1573054,24314,210,24082,1458,921185,304778
469,OR,Kandhamal,731952,11537,83,11453,1516,384009,150737
470,OR,Kendrapara,1439891,24860,252,24545,382732,916169,347854
471,OR,Kendujhar,1802777,20980,175,20798,474504,1087285,376311
472,OR,Khordha,2246341,175335,1552,171938,0,2063646,1502538
473,OR,Koraput,1376934,19137,78,19044,1401,860773,399063
474,OR,Malkangiri,612727,11667,49,11613,1841,391790,137925
475,OR,Mayurbhanj,2513895,40844,286,40416,3307,1222153,413698
476,OR,Nabarangapur,1218762,23549,86,23461,162154,675601,188457
477,OR,Nayagarh,962215,23505,212,23261,1104,593612,222606
478,OR,Nuapada,606490,22924,84,22803,310,402248,129685
479,OR,Puri,1697983,45431,459,44903,173340,1078666,523160
480,OR,Rayagada,961959,20224,167,19981,578,549767,184420
481,OR,Sambalpur,1044410,31651,240,31315,2007,768989,418110
483,OR,Subarnapur,652107,13187,61,13115,0,418336,192102
484,OR,Sundargarh,2080664,61841,594,61167,0,1122762,490428

-----

In [57]:
Data2[Data2['State']=='PB']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
485,PB,Amritsar,2490891,47379,1598,45757,89227,1263073,446487
486,PB,Barnala,596294,5950,244,5696,63447,328464,104197
487,PB,Bathinda,1388859,41728,1042,40668,118489,623604,202311
488,PB,Faridkot,618008,13927,315,13602,23635,330654,128653
489,PB,Fatehgarh Sahib,599814,8876,335,8538,68436,354921,135247
490,PB,Fazilka,1180483,20271,528,19729,63589,490080,131519
491,PB,Ferozepur,2026831,14347,504,13832,74880,476343,128043
492,PB,Gurdaspur,2299026,22381,801,21576,249039,862133,415351
493,PB,Hoshiarpur,1582793,30822,986,29828,221261,1000636,574716
494,PB,Jalandhar,2181753,63396,1496,61864,443735,1433553,681370
495,PB,Kapurthala,817668,17852,556,17294,38658,465285,187476
496,PB,Ludhiana,3487882,87608,2106,85484,514691,2473646,943401
497,PB,Mansa,768808,15606,380,15226,26878,372366,89830
498,PB,Moga,992289,8675,233,8440,77307,541556,178908
499,PB,Pathankot,626154,18814,419,18373,29112,424889,196822
500,PB,Patiala,2892282,48927,1358,47561,273344,1051467,396473
501,PB,Rupnagar,683349,12963,423,12517,97745,384637,182919
502,PB,S.A.S. Nagar,986147,68821,1068,67726,41532,872096,402212
503,PB,Sangrur,1654408,15762,875,14884,166332,730511,218820
504,PB,Shahid Bhagat Singh Nagar,614362,11469,388,11080,77715,392113,172294
505,PB,Sri Muktsar Sahib,902702,18784,524,18257,67979,473193,142901
506,PB,Tarn Taran,1120070,8043,380,7659,111446,597303,178839

-----

In [58]:
Data2[Data2['State']=='PY']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
507,PY,Karaikal,200222,16488,250,16150,73142,111152,57491
508,PY,Mahe,41816,5867,47,5744,42415,34018,25943
509,PY,Puducherry,950289,98885,1453,97171,425639,558708,305464
510,PY,Yanam,55626,6773,107,6661,26727,30079,15489

-----

In [59]:
Data2[Data2['State']=='RJ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
511,RJ,Ajmer,2584913,37769,410,37352,261215,1752308,1042482
512,RJ,Alwar,3671999,59694,307,59387,291879,2237787,1029095
513,RJ,BSF Camp,3671999,85,0,85,0,0,0
514,RJ,Banswara,1798194,10005,104,9901,48781,1024293,525793
515,RJ,Baran,1223921,11996,61,11934,46168,763006,297741
516,RJ,Barmer,2604453,15563,185,15377,113868,1455732,621465
517,RJ,Bharatpur,2549121,19601,260,19341,201441,1351114,590401
518,RJ,Bhilwara,2410459,29781,156,29625,148764,1525323,723691
519,RJ,Bikaner,2367745,40339,545,39792,278302,1461174,714590
520,RJ,Bundi,1113725,7967,48,7919,58167,709316,362835
521,RJ,Chittorgarh,1544392,19809,139,19670,116002,978713,482350
522,RJ,Churu,2041172,16720,107,16613,131700,1301558,582443
523,RJ,Dausa,1637226,13351,62,13289,61680,941513,395584
524,RJ,Dholpur,1207293,11010,48,10962,121308,660103,279501
525,RJ,Dungarpur,1388906,18407,131,18276,121917,737200,349762
526,RJ,Evacuees,1388906,61,0,61,0,0,0
527,RJ,Ganganagar,1969520,19354,150,19203,80706,1278952,525137
528,RJ,Hanumangarh,1779650,16053,111,15942,82542,1230511,588688
529,RJ,Italians,1779650,2,0,2,0,0,0
530,RJ,Jaipur,6663971,187804,1970,185816,968783,4582410,2189042
531,RJ,Jaisalmer,672008,13639,66,13573,80082,416014,194163
532,RJ,Jalore,1830151,10067,72,9995,184172,987519,393953
533,RJ,Jhalawar,1411327,13612,187,13425,97163,922646,363082
534,RJ,Jhunjhunu,2139658,14811,158,14653,123433,1449967,787196
535,RJ,Jodhpur,3685681,112412,1103,111308,600959,2263325,1036743
536,RJ,Karauli,1458459,7156,70,7086,64481,813922,395700
537,RJ,Kota,1950491,57053,449,56603,355509,1269245,655588
538,RJ,Nagaur,3309234,17737,177,17560,229822,2077555,1016874
539,RJ,Other State,3309234,189,39,150,0,0,0
540,RJ,Pali,2038533,27324,287,27037,179463,1200554,513058
541,RJ,Pratapgarh,868231,7143,63,7080,52208,655140,345189
542,RJ,Rajsamand,1158283,17044,169,16875,91975,691497,299553
543,RJ,Sawai Madhopur,1338114,10618,61,10557,84683,756544,347992
544,RJ,Sikar,2677737,30618,335,30283,165042,1838263,821713
545,RJ,Sirohi,1037185,13732,79,13653,84616,610090,348789
546,RJ,Tonk,1421711,9498,92,9406,74225,884688,419023
547,RJ,Udaipur,3067549,56405,753,55652,251522,1715072,854773

In [60]:
Data2.drop([539], axis=0, inplace=True)

In [61]:
Data2[Data2['State']=='RJ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
511,RJ,Ajmer,2584913,37769,410,37352,261215,1752308,1042482
512,RJ,Alwar,3671999,59694,307,59387,291879,2237787,1029095
513,RJ,BSF Camp,3671999,85,0,85,0,0,0
514,RJ,Banswara,1798194,10005,104,9901,48781,1024293,525793
515,RJ,Baran,1223921,11996,61,11934,46168,763006,297741
516,RJ,Barmer,2604453,15563,185,15377,113868,1455732,621465
517,RJ,Bharatpur,2549121,19601,260,19341,201441,1351114,590401
518,RJ,Bhilwara,2410459,29781,156,29625,148764,1525323,723691
519,RJ,Bikaner,2367745,40339,545,39792,278302,1461174,714590
520,RJ,Bundi,1113725,7967,48,7919,58167,709316,362835
521,RJ,Chittorgarh,1544392,19809,139,19670,116002,978713,482350
522,RJ,Churu,2041172,16720,107,16613,131700,1301558,582443
523,RJ,Dausa,1637226,13351,62,13289,61680,941513,395584
524,RJ,Dholpur,1207293,11010,48,10962,121308,660103,279501
525,RJ,Dungarpur,1388906,18407,131,18276,121917,737200,349762
526,RJ,Evacuees,1388906,61,0,61,0,0,0
527,RJ,Ganganagar,1969520,19354,150,19203,80706,1278952,525137
528,RJ,Hanumangarh,1779650,16053,111,15942,82542,1230511,588688
529,RJ,Italians,1779650,2,0,2,0,0,0
530,RJ,Jaipur,6663971,187804,1970,185816,968783,4582410,2189042
531,RJ,Jaisalmer,672008,13639,66,13573,80082,416014,194163
532,RJ,Jalore,1830151,10067,72,9995,184172,987519,393953
533,RJ,Jhalawar,1411327,13612,187,13425,97163,922646,363082
534,RJ,Jhunjhunu,2139658,14811,158,14653,123433,1449967,787196
535,RJ,Jodhpur,3685681,112412,1103,111308,600959,2263325,1036743
536,RJ,Karauli,1458459,7156,70,7086,64481,813922,395700
537,RJ,Kota,1950491,57053,449,56603,355509,1269245,655588
538,RJ,Nagaur,3309234,17737,177,17560,229822,2077555,1016874
540,RJ,Pali,2038533,27324,287,27037,179463,1200554,513058
541,RJ,Pratapgarh,868231,7143,63,7080,52208,655140,345189
542,RJ,Rajsamand,1158283,17044,169,16875,91975,691497,299553
543,RJ,Sawai Madhopur,1338114,10618,61,10557,84683,756544,347992
544,RJ,Sikar,2677737,30618,335,30283,165042,1838263,821713
545,RJ,Sirohi,1037185,13732,79,13653,84616,610090,348789
546,RJ,Tonk,1421711,9498,92,9406,74225,884688,419023
547,RJ,Udaipur,3067549,56405,753,55652,251522,1715072,854773

In [62]:
Data2.drop([513,526,529], axis=0, inplace=True)

In [63]:
Data2[Data2['State']=='RJ']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
511,RJ,Ajmer,2584913,37769,410,37352,261215,1752308,1042482
512,RJ,Alwar,3671999,59694,307,59387,291879,2237787,1029095
514,RJ,Banswara,1798194,10005,104,9901,48781,1024293,525793
515,RJ,Baran,1223921,11996,61,11934,46168,763006,297741
516,RJ,Barmer,2604453,15563,185,15377,113868,1455732,621465
517,RJ,Bharatpur,2549121,19601,260,19341,201441,1351114,590401
518,RJ,Bhilwara,2410459,29781,156,29625,148764,1525323,723691
519,RJ,Bikaner,2367745,40339,545,39792,278302,1461174,714590
520,RJ,Bundi,1113725,7967,48,7919,58167,709316,362835
521,RJ,Chittorgarh,1544392,19809,139,19670,116002,978713,482350
522,RJ,Churu,2041172,16720,107,16613,131700,1301558,582443
523,RJ,Dausa,1637226,13351,62,13289,61680,941513,395584
524,RJ,Dholpur,1207293,11010,48,10962,121308,660103,279501
525,RJ,Dungarpur,1388906,18407,131,18276,121917,737200,349762
527,RJ,Ganganagar,1969520,19354,150,19203,80706,1278952,525137
528,RJ,Hanumangarh,1779650,16053,111,15942,82542,1230511,588688
530,RJ,Jaipur,6663971,187804,1970,185816,968783,4582410,2189042
531,RJ,Jaisalmer,672008,13639,66,13573,80082,416014,194163
532,RJ,Jalore,1830151,10067,72,9995,184172,987519,393953
533,RJ,Jhalawar,1411327,13612,187,13425,97163,922646,363082
534,RJ,Jhunjhunu,2139658,14811,158,14653,123433,1449967,787196
535,RJ,Jodhpur,3685681,112412,1103,111308,600959,2263325,1036743
536,RJ,Karauli,1458459,7156,70,7086,64481,813922,395700
537,RJ,Kota,1950491,57053,449,56603,355509,1269245,655588
538,RJ,Nagaur,3309234,17737,177,17560,229822,2077555,1016874
540,RJ,Pali,2038533,27324,287,27037,179463,1200554,513058
541,RJ,Pratapgarh,868231,7143,63,7080,52208,655140,345189
542,RJ,Rajsamand,1158283,17044,169,16875,91975,691497,299553
543,RJ,Sawai Madhopur,1338114,10618,61,10557,84683,756544,347992
544,RJ,Sikar,2677737,30618,335,30283,165042,1838263,821713
545,RJ,Sirohi,1037185,13732,79,13653,84616,610090,348789
546,RJ,Tonk,1421711,9498,92,9406,74225,884688,419023
547,RJ,Udaipur,3067549,56405,753,55652,251522,1715072,854773

-----

In [64]:
Data2[Data2['State']=='SK']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
548,SK,East Sikkim,281293,0,0,0,0,263526,229361
549,SK,North Sikkim,43354,0,0,0,0,33137,27820
550,SK,South Sikkim,146742,0,0,0,0,121481,105432
551,SK,Unknown,146742,31979,396,31063,0,0,0
552,SK,West Sikkim,136299,0,0,0,0,103619,88896

In [65]:
Data2.drop([551], axis=0, inplace=True)

In [66]:
Data2[Data2['State']=='SK']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
548,SK,East Sikkim,281293,0,0,0,0,263526,229361
549,SK,North Sikkim,43354,0,0,0,0,33137,27820
550,SK,South Sikkim,146742,0,0,0,0,121481,105432
552,SK,West Sikkim,136299,0,0,0,0,103619,88896

-----

In [67]:
Data2[Data2['State']=='TG']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
553,TG,Adilabad,708952,0,0,0,0,376263,89337
554,TG,Bhadradri Kothagudem,1304811,0,0,0,0,599183,204318
555,TG,Hyderabad,3441992,0,0,0,0,3150245,1893217
556,TG,Jagtial,983414,0,0,0,0,580926,190526
557,TG,Jangaon,582457,0,0,0,0,327527,128207
558,TG,Jayashankar Bhupalapally,712257,0,0,0,0,262313,127108
559,TG,Jogulamba Gadwal,664971,0,0,0,0,306919,59886
560,TG,Kamareddy,972625,0,0,0,0,557684,183176
561,TG,Karimnagar,1016063,0,0,0,0,657167,384862
562,TG,Khammam,1401639,0,0,0,0,856707,333812
563,TG,Komaram Bheem,515835,0,0,0,0,275644,51593
564,TG,Mahabubabad,1318110,0,0,0,0,468199,172007
565,TG,Mahabubnagar,1318110,0,0,0,0,482547,150640
566,TG,Mancherial,807037,0,0,0,0,480069,170258
567,TG,Medak,767428,0,0,0,0,458648,140778
568,TG,Medchal Malkajgiri,2542203,0,0,0,0,2149958,1317832
569,TG,Mulugu,294671,0,0,0,0,186104,76648
570,TG,Nagarkurnool,893308,0,0,0,0,464888,106589
571,TG,Nalgonda,1631399,0,0,0,0,891308,254218
572,TG,Narayanpet,566874,0,0,0,0,288388,50219
573,TG,Nirmal,709415,0,0,0,0,378315,130107
574,TG,Nizamabad,1534428,0,0,0,0,858574,250862
575,TG,Peddapalli,795332,0,0,0,0,463510,201940
576,TG,Rajanna Sircilla,546121,0,0,0,0,372065,144680
577,TG,Ranga Reddy,2551731,0,0,0,0,2348542,1291404
578,TG,Sangareddy,1527628,0,0,0,0,851395,299316
579,TG,Siddipet,993376,0,0,0,0,582450,242462
580,TG,Suryapet,1099560,0,0,0,0,610724,208278
581,TG,Unknown,1099560,671463,3956,663498,0,0,0
582,TG,Vikarabad,881250,0,0,0,0,427669,87989
583,TG,Wanaparthy,751553,0,0,0,0,289412,81870
584,TG,Warangal Rural,716457,0,0,0,0,342881,105289
585,TG,Warangal Urban,1135707,0,0,0,0,687410,418947
586,TG,Yadadri Bhuvanagiri,726465,0,0,0,0,463854,223506

In [68]:
Data2.drop([581], axis=0, inplace=True)

In [69]:
Data2[Data2['State']=='TG']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
553,TG,Adilabad,708952,0,0,0,0,376263,89337
554,TG,Bhadradri Kothagudem,1304811,0,0,0,0,599183,204318
555,TG,Hyderabad,3441992,0,0,0,0,3150245,1893217
556,TG,Jagtial,983414,0,0,0,0,580926,190526
557,TG,Jangaon,582457,0,0,0,0,327527,128207
558,TG,Jayashankar Bhupalapally,712257,0,0,0,0,262313,127108
559,TG,Jogulamba Gadwal,664971,0,0,0,0,306919,59886
560,TG,Kamareddy,972625,0,0,0,0,557684,183176
561,TG,Karimnagar,1016063,0,0,0,0,657167,384862
562,TG,Khammam,1401639,0,0,0,0,856707,333812
563,TG,Komaram Bheem,515835,0,0,0,0,275644,51593
564,TG,Mahabubabad,1318110,0,0,0,0,468199,172007
565,TG,Mahabubnagar,1318110,0,0,0,0,482547,150640
566,TG,Mancherial,807037,0,0,0,0,480069,170258
567,TG,Medak,767428,0,0,0,0,458648,140778
568,TG,Medchal Malkajgiri,2542203,0,0,0,0,2149958,1317832
569,TG,Mulugu,294671,0,0,0,0,186104,76648
570,TG,Nagarkurnool,893308,0,0,0,0,464888,106589
571,TG,Nalgonda,1631399,0,0,0,0,891308,254218
572,TG,Narayanpet,566874,0,0,0,0,288388,50219
573,TG,Nirmal,709415,0,0,0,0,378315,130107
574,TG,Nizamabad,1534428,0,0,0,0,858574,250862
575,TG,Peddapalli,795332,0,0,0,0,463510,201940
576,TG,Rajanna Sircilla,546121,0,0,0,0,372065,144680
577,TG,Ranga Reddy,2551731,0,0,0,0,2348542,1291404
578,TG,Sangareddy,1527628,0,0,0,0,851395,299316
579,TG,Siddipet,993376,0,0,0,0,582450,242462
580,TG,Suryapet,1099560,0,0,0,0,610724,208278
582,TG,Vikarabad,881250,0,0,0,0,427669,87989
583,TG,Wanaparthy,751553,0,0,0,0,289412,81870
584,TG,Warangal Rural,716457,0,0,0,0,342881,105289
585,TG,Warangal Urban,1135707,0,0,0,0,687410,418947
586,TG,Yadadri Bhuvanagiri,726465,0,0,0,0,463854,223506

-----

In [70]:
Data2[Data2['State']=='TN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
587,TN,Airport Quarantine,726465,2113,2,2107,0,0,0
588,TN,Ariyalur,752481,16854,261,16548,18285,475390,157166
589,TN,Chengalpattu,2556244,171777,2506,168327,51771,1337641,604784
590,TN,Chennai,7100000,554672,8546,544701,2667777,4532809,2671294
591,TN,Coimbatore,3472578,246780,2416,243070,102107,2717202,1205484
592,TN,Cuddalore,2600880,64085,867,62997,36434,1529591,646400
593,TN,Dharmapuri,1502900,28425,274,27957,163803,770955,279901
594,TN,Dindigul,2161367,33099,645,32348,27800,1236504,493453
595,TN,Erode,2259608,104303,686,102836,66240,1370925,552624
596,TN,Kallakurichi,1370281,31364,210,31056,28314,696213,299822
597,TN,Kancheepuram,1166401,74970,1258,73386,37505,663206,250181
598,TN,Kanyakumari,1863178,62362,1048,61112,79600,1100888,450620
599,TN,Karur,1076588,24091,356,23523,17190,626136,289120
600,TN,Krishnagiri,1883731,43570,348,43036,14284,1040491,407695
601,TN,Madurai,3991038,75215,1172,73853,97279,1500331,583138
602,TN,Mayiladuthurai,901000,23280,316,22878,0,0,0
603,TN,Nagapattinam,1614069,21074,346,20561,20984,813495,289588
604,TN,Namakkal,1721179,52245,498,51253,24758,987830,397079
605,TN,Nilgiris,735071,33566,212,33164,45839,501986,343811
606,TN,Perambalur,564511,12067,243,11790,7981,326872,136491
607,TN,Pudukkottai,1918725,30183,416,29627,20835,827320,314780
608,TN,Railway Quarantine,1918725,428,0,428,0,0,0
609,TN,Ramanathapuram,1337560,20564,357,20158,23389,660673,280037
610,TN,Ranipet,1210277,43436,775,42557,20118,557267,174051
611,TN,Salem,3480008,99893,1685,97619,79660,1925084,791376
612,TN,Sivaganga,1341250,20195,206,19854,25824,726010,287468
613,TN,Tenkasi,1407627,27357,484,26834,26338,736882,233177
614,TN,Thanjavur,2402781,75352,972,73874,67445,1224986,486660
615,TN,Theni,1243684,43571,521,43018,45839,660187,304832
616,TN,Thiruvallur,3725697,119370,1842,117138,67948,1425728,563426
617,TN,Thiruvarur,1268094,41461,442,40760,67445,630274,246969
618,TN,Thoothukkudi,1738376,56304,409,55757,49288,984706,328797
619,TN,Tiruchirappalli,2713858,77534,1059,76038,92586,1468456,636356
620,TN,Tirunelveli,1665253,49374,432,48812,54208,815687,275985
621,TN,Tirupathur,1111812,29301,625,28600,23998,541496,205219
622,TN,Tiruppur,2471222,95405,979,93683,36301,1671392,611015
623,TN,Tiruvannamalai,2468965,54968,667,54122,76170,1270049,533376
624,TN,Vellore,1614242,49864,1131,48564,47936,763735,336366
625,TN,Viluppuram,2093003,45857,356,45382,52064,1085842,444502
626,TN,Virudhunagar,1943309,46294,548,45687,28620,1072788,505098

In [71]:
Data2.drop([587,608], axis=0, inplace=True)

In [72]:
Data2[Data2['State']=='TN']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
588,TN,Ariyalur,752481,16854,261,16548,18285,475390,157166
589,TN,Chengalpattu,2556244,171777,2506,168327,51771,1337641,604784
590,TN,Chennai,7100000,554672,8546,544701,2667777,4532809,2671294
591,TN,Coimbatore,3472578,246780,2416,243070,102107,2717202,1205484
592,TN,Cuddalore,2600880,64085,867,62997,36434,1529591,646400
593,TN,Dharmapuri,1502900,28425,274,27957,163803,770955,279901
594,TN,Dindigul,2161367,33099,645,32348,27800,1236504,493453
595,TN,Erode,2259608,104303,686,102836,66240,1370925,552624
596,TN,Kallakurichi,1370281,31364,210,31056,28314,696213,299822
597,TN,Kancheepuram,1166401,74970,1258,73386,37505,663206,250181
598,TN,Kanyakumari,1863178,62362,1048,61112,79600,1100888,450620
599,TN,Karur,1076588,24091,356,23523,17190,626136,289120
600,TN,Krishnagiri,1883731,43570,348,43036,14284,1040491,407695
601,TN,Madurai,3991038,75215,1172,73853,97279,1500331,583138
602,TN,Mayiladuthurai,901000,23280,316,22878,0,0,0
603,TN,Nagapattinam,1614069,21074,346,20561,20984,813495,289588
604,TN,Namakkal,1721179,52245,498,51253,24758,987830,397079
605,TN,Nilgiris,735071,33566,212,33164,45839,501986,343811
606,TN,Perambalur,564511,12067,243,11790,7981,326872,136491
607,TN,Pudukkottai,1918725,30183,416,29627,20835,827320,314780
609,TN,Ramanathapuram,1337560,20564,357,20158,23389,660673,280037
610,TN,Ranipet,1210277,43436,775,42557,20118,557267,174051
611,TN,Salem,3480008,99893,1685,97619,79660,1925084,791376
612,TN,Sivaganga,1341250,20195,206,19854,25824,726010,287468
613,TN,Tenkasi,1407627,27357,484,26834,26338,736882,233177
614,TN,Thanjavur,2402781,75352,972,73874,67445,1224986,486660
615,TN,Theni,1243684,43571,521,43018,45839,660187,304832
616,TN,Thiruvallur,3725697,119370,1842,117138,67948,1425728,563426
617,TN,Thiruvarur,1268094,41461,442,40760,67445,630274,246969
618,TN,Thoothukkudi,1738376,56304,409,55757,49288,984706,328797
619,TN,Tiruchirappalli,2713858,77534,1059,76038,92586,1468456,636356
620,TN,Tirunelveli,1665253,49374,432,48812,54208,815687,275985
621,TN,Tirupathur,1111812,29301,625,28600,23998,541496,205219
622,TN,Tiruppur,2471222,95405,979,93683,36301,1671392,611015
623,TN,Tiruvannamalai,2468965,54968,667,54122,76170,1270049,533376
624,TN,Vellore,1614242,49864,1131,48564,47936,763735,336366
625,TN,Viluppuram,2093003,45857,356,45382,52064,1085842,444502
626,TN,Virudhunagar,1943309,46294,548,45687,28620,1072788,505098

-----

In [73]:
Data2[Data2['State']=='TR']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
627,TR,Dhalai,377988,7037,35,7000,61582,258334,164654
628,TR,Gomati,436868,8134,74,8043,47437,279099,161408
629,TR,Khowai,327391,4559,54,4500,24046,202148,111955
630,TR,North Tripura,415946,7250,34,7199,100931,283802,190594
631,TR,Sipahijala,484233,6360,75,6273,53067,330932,211903
632,TR,South Tripura,433737,10168,53,10104,83030,303987,209259
633,TR,Unokoti,277335,8609,68,8530,34930,173390,101178
634,TR,West Tripura,917534,32351,420,31817,202939,676784,470030

-----

In [74]:
Data2[Data2['State']=='UP'][0:30]

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
635,UP,Agra,4380793,25765,457,25308,491361,2172907,746386
636,UP,Aligarh,3673849,21280,108,21172,482825,1589498,498586
637,UP,Ambedkar Nagar,2398709,5040,152,4885,123151,1135268,349925
638,UP,Amethi,2549935,9972,143,9828,267014,1015454,375261
639,UP,Amroha,1838771,16616,203,16412,254038,871164,265607
640,UP,Auraiya,1372287,10090,203,9887,107079,614711,180775
641,UP,Ayodhya,2468371,16919,290,16629,376735,1270889,418182
642,UP,Azamgarh,4616509,17906,228,17675,12474,2165409,643824
643,UP,Baghpat,1302156,9132,141,8991,327192,692255,337171
644,UP,Bahraich,2384239,11549,178,11371,308225,1752196,642554
645,UP,Ballia,3223642,21610,234,21376,267420,1433455,388341
646,UP,Balrampur,2149066,7494,138,7354,276237,995084,438892
647,UP,Banda,1799541,10992,158,10832,303185,795903,236840
648,UP,Barabanki,3257983,19850,225,19624,147422,1589704,448292
649,UP,Bareilly,4465344,44028,377,43650,465209,2221830,749751
650,UP,Basti,2461056,11717,330,11385,296570,1189235,399451
651,UP,Bhadohi,1554203,7720,163,7557,119023,793094,244431
652,UP,Bijnor,3683896,14794,126,14668,312985,1756682,600482
653,UP,Budaun,3712738,14941,98,14843,224207,1408673,364360
654,UP,Bulandshahr,3498507,20215,243,19972,269090,1647985,646236
655,UP,Chandauli,1952713,16208,356,15852,211249,939599,238646
656,UP,Chitrakoot,990626,7110,79,7031,234060,447303,129157
657,UP,Deoria,3098637,20223,220,20003,304520,1597034,537293
658,UP,Etah,1761152,9968,99,9868,263295,788675,213371
659,UP,Etawah,1579160,13933,293,13640,297761,708258,253661
660,UP,Farrukhabad,1887577,10348,194,10153,231856,833824,229745
661,UP,Fatehpur,2632684,6814,139,6674,82928,1246314,410120
662,UP,Firozabad,2496761,8720,135,8585,322656,1005224,328351
663,UP,Gautam Buddha Nagar,1674714,63353,467,62876,675396,1799728,974353
664,UP,Ghaziabad,4661452,55673,461,55207,712611,2247039,1071908

In [75]:
Data2[Data2['State']=='UP'][30:]

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
665,UP,Ghazipur,3622727,21641,282,21359,265737,1690195,509886
666,UP,Gonda,3431386,12282,266,12016,241234,1604382,555773
667,UP,Gorakhpur,4436275,59439,848,58588,480536,2347051,889085
668,UP,Hamirpur,1104021,5232,102,5130,240382,561456,185949
669,UP,Hapur,1338211,12638,217,12421,299725,658863,254519
670,UP,Hardoi,4091380,13755,349,13406,224784,1852490,537647
671,UP,Hathras,1565678,2920,43,2877,260525,701190,234481
672,UP,Jalaun,1670718,11687,202,11482,221719,819651,251406
673,UP,Jaunpur,4476072,22584,235,22349,322824,2189622,667013
674,UP,Jhansi,2000755,36556,663,35892,312540,1132511,379818
675,UP,Kannauj,1658005,9231,114,9115,124019,755119,257048
676,UP,Kanpur Dehat,1795092,6197,110,6087,344697,923661,290898
677,UP,Kanpur Nagar,4572951,82933,1905,81024,685820,2251558,859280
678,UP,Kasganj,1438156,4250,53,4197,271969,608818,147948
679,UP,Kaushambi,1596909,4424,70,4353,207064,760960,218775
680,UP,Kushinagar,3560830,15617,228,15389,314772,1632782,458054
681,UP,Lakhimpur Kheri,4013634,24410,292,24117,368533,1829019,382178
682,UP,Lalitpur,1218002,12742,128,12613,21781,627553,143519
683,UP,Lucknow,4588455,238839,2651,236165,1237583,3106658,1488333
684,UP,Maharajganj,2665292,12440,140,12300,334716,1283534,372559
685,UP,Mahoba,876055,4268,86,4182,142992,444352,148388
686,UP,Mainpuri,1847194,10028,182,9846,228496,860461,219990
687,UP,Mathura,2541894,20297,402,19893,198379,1207578,418117
688,UP,Mau,2205170,8333,80,8252,281445,1017497,307052
689,UP,Meerut,3447405,69480,898,68567,798404,1764744,842448
690,UP,Mirzapur,2494533,11088,116,10972,312764,1335308,462157
691,UP,Moradabad,4773138,39102,349,38752,400459,1390249,443211
692,UP,Muzaffarnagar,4138605,31009,269,30737,161704,1264005,467387
693,UP,Pilibhit,2037225,11032,193,10838,291538,978332,256931
694,UP,Pratapgarh,3173752,16038,163,15875,100500,1480021,456869
695,UP,Prayagraj,5959798,78699,1088,77609,729300,2731341,862244
696,UP,Rae Bareli,3404004,17104,343,16761,387408,1436175,344694
697,UP,Rampur,2335398,11826,148,11676,274288,989666,250420
698,UP,Saharanpur,3464228,32730,420,32309,266387,1638111,576986
699,UP,Sambhal,2217020,9438,106,9331,309333,893786,204352
700,UP,Sant Kabir Nagar,1714300,8159,98,8061,292606,799506,195105
701,UP,Shahjahanpur,3002376,20361,444,19916,437195,1743273,538827
702,UP,Shamli,1274815,12976,45,12931,246597,604968,206438
703,UP,Shrawasti,1114615,4388,35,4353,221566,515155,181654
704,UP,Siddharthnagar,2553526,9373,100,9273,295047,1225133,479630
705,UP,Sitapur,4474446,12398,185,12211,289473,2139996,497241
706,UP,Sonbhadra,1862612,16807,251,16556,306175,812891,236871
707,UP,Sultanpur,3790922,14915,138,14777,309395,1178195,370998
708,UP,Unnao,3110595,15011,254,14757,298886,1554190,420513
709,UP,Varanasi,3682194,85501,971,84528,595510,2109381,843905

-----

In [76]:
Data2[Data2['State']=='UT']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
710,UT,Almora,621927,12190,196,11378,84443,378242,215715
711,UT,Bageshwar,259840,5764,60,5678,55626,183447,131244
712,UT,Chamoli,391114,12242,62,11972,90390,273850,191420
713,UT,Champawat,259315,7603,53,7358,95068,183354,119870
714,UT,Dehradun,1698560,112363,3521,108137,401496,1465464,793803
715,UT,Haridwar,1927029,51498,1019,49096,369542,1456257,635360
716,UT,Nainital,955128,39232,944,38140,204422,722854,398680
717,UT,Pauri Garhwal,686527,17686,315,16668,138878,431320,229262
718,UT,Pithoragarh,485993,10260,181,9962,72686,318644,183765
719,UT,Rudraprayag,236857,8800,106,8535,52378,170911,113480
720,UT,Tehri Garhwal,616409,15835,108,14827,105111,381493,206527
721,UT,Udham Singh Nagar,1648367,37875,761,36315,337292,1277738,518326
722,UT,Uttarkashi,329686,12548,74,12129,120026,234425,160687

-----

In [77]:
Data2[Data2['State']=='WB']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
723,WB,Alipurduar,1700000,15589,102,15441,0,949775,353666
724,WB,Bankura,3596292,36313,274,35839,0,2245147,706177
725,WB,Birbhum,3502387,41197,286,40727,0,2152966,846286
726,WB,Cooch Behar,2822780,29275,97,29060,0,1444232,421663
727,WB,Dakshin Dinajpur,1670931,17889,170,17573,0,1063493,363056
728,WB,Darjeeling,1842034,57143,539,56326,0,1324555,664306
729,WB,Hooghly,5520389,86300,990,84650,0,3368156,1343978
730,WB,Howrah,4841638,98757,1524,96567,0,2905925,1254076
731,WB,Jalpaiguri,3869675,41982,572,41256,0,1144138,410719
732,WB,Jhargram,1136548,12135,27,12063,0,714456,211586
733,WB,Kalimpong,251642,7036,54,6950,0,180713,124420
734,WB,Kolkata,4486679,322541,5152,315146,0,4784084,3039486
735,WB,Malda,3997970,33406,186,33121,0,2029144,590497
736,WB,Murshidabad,7102430,33993,328,33605,0,3952659,976111
737,WB,Nadia,5168488,73333,859,72054,0,2798942,884320
738,WB,North 24 Parganas,10082852,329257,4833,323097,0,6547702,2720315
739,WB,Other State,10082852,66,3,63,0,0,0
740,WB,Paschim Bardhaman,2882031,57778,356,57184,0,1789611,677747
741,WB,Paschim Medinipur,5094238,53581,507,52820,0,2758576,877978
742,WB,Purba Bardhaman,4835532,42005,198,41588,0,2596246,859528
743,WB,Purba Medinipur,4417377,63098,397,62549,0,3560589,1471674
744,WB,Purulia,2927965,19419,113,19283,0,1679941,492310
745,WB,South 24 Parganas,8153176,100957,1336,98950,0,4850898,1832073
746,WB,Uttar Dinajpur,3000849,19858,238,19559,0,1341457,436182

In [78]:
Data2.drop([739], axis=0, inplace=True)

In [79]:
Data2[Data2['State']=='WB']

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
723,WB,Alipurduar,1700000,15589,102,15441,0,949775,353666
724,WB,Bankura,3596292,36313,274,35839,0,2245147,706177
725,WB,Birbhum,3502387,41197,286,40727,0,2152966,846286
726,WB,Cooch Behar,2822780,29275,97,29060,0,1444232,421663
727,WB,Dakshin Dinajpur,1670931,17889,170,17573,0,1063493,363056
728,WB,Darjeeling,1842034,57143,539,56326,0,1324555,664306
729,WB,Hooghly,5520389,86300,990,84650,0,3368156,1343978
730,WB,Howrah,4841638,98757,1524,96567,0,2905925,1254076
731,WB,Jalpaiguri,3869675,41982,572,41256,0,1144138,410719
732,WB,Jhargram,1136548,12135,27,12063,0,714456,211586
733,WB,Kalimpong,251642,7036,54,6950,0,180713,124420
734,WB,Kolkata,4486679,322541,5152,315146,0,4784084,3039486
735,WB,Malda,3997970,33406,186,33121,0,2029144,590497
736,WB,Murshidabad,7102430,33993,328,33605,0,3952659,976111
737,WB,Nadia,5168488,73333,859,72054,0,2798942,884320
738,WB,North 24 Parganas,10082852,329257,4833,323097,0,6547702,2720315
740,WB,Paschim Bardhaman,2882031,57778,356,57184,0,1789611,677747
741,WB,Paschim Medinipur,5094238,53581,507,52820,0,2758576,877978
742,WB,Purba Bardhaman,4835532,42005,198,41588,0,2596246,859528
743,WB,Purba Medinipur,4417377,63098,397,62549,0,3560589,1471674
744,WB,Purulia,2927965,19419,113,19283,0,1679941,492310
745,WB,South 24 Parganas,8153176,100957,1336,98950,0,4850898,1832073
746,WB,Uttar Dinajpur,3000849,19858,238,19559,0,1341457,436182

-----

In [80]:
Data2

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,Nicobars,36842,0,0,0,0,25394,20313
1,AN,North and Middle Andaman,105597,0,0,0,0,78945,59522
2,AN,South Andaman,238142,0,0,0,0,189662,120322
4,AP,Anantapur,4083315,157843,1093,156699,787085,2690082,1611476
5,AP,Chittoor,4170468,246935,1947,244144,780322,2832987,1807873
...,...,...,...,...,...,...,...,...,...
742,WB,Purba Bardhaman,4835532,42005,198,41588,0,2596246,859528
743,WB,Purba Medinipur,4417377,63098,397,62549,0,3560589,1471674
744,WB,Purulia,2927965,19419,113,19283,0,1679941,492310
745,WB,South 24 Parganas,8153176,100957,1336,98950,0,4850898,1832073
746,WB,Uttar Dinajpur,3000849,19858,238,19559,0,1341457,436182

-----

In [81]:
Data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        36 non-null     object
 1   Population   36 non-null     int64
 2   Confirmed    36 non-null     int64
 3   Deceased     36 non-null     int64
 4   Recovered    36 non-null     int64
 5   Tested       36 non-null     int64
 6   Vaccinated1  36 non-null     int64
 7   Vaccinated2  36 non-null     int64
dtypes: int64(7), object(1)
memory usage: 2.4+ KB

In [82]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 726 entries, 0 to 746
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        726 non-null    object
 1   District     726 non-null    object
 2   Population   726 non-null    int64
 3   Confirmed    726 non-null    int64
 4   Deceased     726 non-null    int64
 5   Recovered    726 non-null    int64
 6   Tested       726 non-null    int64
 7   Vaccinated1  726 non-null    int64
 8   Vaccinated2  726 non-null    int64
dtypes: int64(7), object(2)
memory usage: 56.7+ KB

In [83]:
Data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21003 entries, 0 to 21002
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        21003 non-null  object
 1   Date         21003 non-null  object
 2   Confirmed    21003 non-null  int64
 3   Deceased     21003 non-null  int64
 4   Recovered    21003 non-null  int64
 5   Vaccinated1  21003 non-null  int64
 6   Vaccinated2  21003 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.1+ MB

In [4]:
Data3

,State,Date,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,AN,2020-03-26,1,0,0,0,0,0
1,AN,2020-03-27,6,0,0,0,0,0
2,AN,2020-03-28,9,0,0,0,0,0
3,AN,2020-03-29,9,0,0,0,0,0
4,AN,2020-03-30,10,0,0,0,0,0
...,...,...,...,...,...,...,...,...
20998,WB,2021-10-27,1589042,19096,1561973,19039301,53992006,20590859
20999,WB,2021-10-28,1590032,19105,1562818,19084738,54524323,20878857
21000,WB,2021-10-29,1591014,19113,1563678,19133755,55226050,21196433
21001,WB,2021-10-30,1591994,19126,1564558,19180886,55982557,21500866
21002,WB,2021-10-31,1592908,19141,1565471,19228303,56192166,21559747

In [6]:
Data3["Date"]=pd.to_datetime(Data3["Date"], format="%Y-%m-%d")

In [7]:
Data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21003 entries, 0 to 21002
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        21003 non-null  object
 1   Date         21003 non-null  datetime64[ns]
 2   Confirmed    21003 non-null  int64
 3   Deceased     21003 non-null  int64
 4   Recovered    21003 non-null  int64
 5   Tested       21003 non-null  int64
 6   Vaccinated1  21003 non-null  int64
 7   Vaccinated2  21003 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 1.3+ MB

In [8]:
Data3.to_csv(r'C:\Users\telak\Downloads\StateWise_Data.csv',index=False)

-----

In [91]:
Data4=pd.read_csv(r"C:\Users\telak\Downloads\delta7_timeseries_data.csv")

In [93]:
Data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20953 entries, 0 to 20952
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               20953 non-null  object
 1   Date                20953 non-null  object
 2   delta7_Confirmed    20953 non-null  int64
 3   delta7_Deceased     20953 non-null  int64
 4   delta7_Recovered    20953 non-null  int64
 5   delta7_Vaccinated1  20953 non-null  int64
 6   delta7_Vaccinated2  20953 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.1+ MB

In [95]:
Data4["Date"]=pd.to_datetime(Data4["Date"], format="%Y-%m-%d")

In [96]:
Data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20953 entries, 0 to 20952
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               20953 non-null  object
 1   Date                20953 non-null  datetime64[ns]
 2   delta7_Confirmed    20953 non-null  int64
 3   delta7_Deceased     20953 non-null  int64
 4   delta7_Recovered    20953 non-null  int64
 5   delta7_Vaccinated1  20953 non-null  int64
 6   delta7_Vaccinated2  20953 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

In [97]:
Data4.to_csv(r'C:\Users\telak\Downloads\delta7_timeseries_data.csv',index=False)